<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view>
        <h:head>
        </h:head>
        <h:body>
            <ui:composition template="template.xhtml">
                <ui:define name="content">
                    <h:form id="form">
                        <p:growl id="growl" life="2000" />
                        <p:inputText value="#{buttonView.text}"/>
                        <p:commandButton value="Ajax Submit" id="ajax" update="form" actionListener="#{buttonView.buttonAction}" styleClass="ui-priority-primary" />
                        <p:outputLabel value="#{buttonView.greeting}"/>
                    </h:form>
                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
