<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
    </h:head>
    <h:body>
        <h:form id="form">
            <p:growl id="msgs" showDetail="true" />

            <h:panelGrid columns="2" cellpadding="5">
                <p:outputLabel for="inline" value="Inline:" />
                <p:calendar id="inline" value="#{calendarView.date111}" mode="inline" />

                <p:outputLabel for="popup" value="Popup:" />
                <p:calendar id="popup" value="#{calendarView.date2}" />

                <p:outputLabel for="button" value="Button:" />
                <p:calendar id="button" value="#{calendarView.date3}" showOn="button" />

                <p:outputLabel for="event" value="Select Event:" />
                <p:calendar id="event" value="#{calendarView.date4}">
                    <p:ajax event="dateSelect" listener="#{calendarView.onDateSelect}" update="msgs" />
                </p:calendar>

                <p:outputLabel for="german" value="German:" />
                <p:calendar id="german" value="#{calendarView.date5}" locale="de" navigator="true" pattern="yyyy-MMM-dd" />

                <p:outputLabel for="restricted" value="Restricted:" />
                <p:calendar id="restricted" value="#{calendarView.date6}" mindate="4/1/14" maxdate="7/1/14" />

                <p:outputLabel for="multi" value="Multiple:" />
                <p:calendar id="multi" value="#{calendarView.date7}" pages="3" />

                <p:outputLabel for="effect" value="Effect:" />
                <p:calendar id="effect" value="#{calendarView.date8}" effect="fold" />

                <p:outputLabel for="mask" value="Mask:" />
                <p:calendar id="mask" value="#{calendarView.date9}" pattern="dd-MM-yyyy" mask="true" />

                <p:outputLabel for="datetime" value="Datetime:" />
                <p:calendar id="datetime" value="#{calendarView.date10}" pattern="MM/dd/yyyy HH:mm:ss" />

                <p:outputLabel for="time" value="Time:" />
                <p:calendar id="time" value="#{calendarView.date11}" pattern="HH:mm" timeOnly="true"  />
            </h:panelGrid>

            
            <p:commandButton value="Submit" update="msgs" actionListener="#{calendarView.click}" icon="ui-icon-check" />
            
            <a href="http://localhost:8084/paypost/pages/secure/Java5Report.x.html" target="_blank">Visit W3Schools.com!</a> 
            
            <p:dialog modal="true" resizable="false" header="Values" widgetVar="dlg" showEffect="fold">
                <p:panelGrid id="display" columns="2" columnClasses="label,value">
                    <h:outputText value="Inline:" />
                    <h:outputText value="#{calendarView.date111}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>

                    <h:outputText value="Popup:" />
                    <h:outputText value="#{calendarView.date2}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>

                    <h:outputText value="Button:" />
                    <h:outputText value="#{calendarView.date3}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>

                    <h:outputText value="Event:" />
                    <h:outputText value="#{calendarView.date4}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>

                    <h:outputText value="German:" />
                    <h:outputText value="#{calendarView.date5}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>

                    <h:outputText value="Restricted:" />
                    <h:outputText value="#{calendarView.date6}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>

                    <h:outputText value="Multiple:" />
                    <h:outputText value="#{calendarView.date7}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>

                    <h:outputText value="Effect:" />
                    <h:outputText value="#{calendarView.date8}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>

                    <h:outputText value="Mask:" />
                    <h:outputText value="#{calendarView.date9}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>

                    <h:outputText value="Datetime:" />
                    <h:outputText value="#{calendarView.date10}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>

                    <h:outputText value="Time:" />
                    <h:outputText value="#{calendarView.date11}">
                        <f:convertDateTime pattern="HH:mm" />
                    </h:outputText>
                </p:panelGrid>
            </p:dialog>
        </h:form>
    </h:body>
</html>
