<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view>
        <h:body>
	    <ui:composition>
		<div class="starter-template">
		    <h1>Smart Pay Post</h1>
		    <button type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
		    </button>
		</div>
	    </ui:composition>
        </h:body>
    </f:view>
</html>
