<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view>
        <h:head>
        </h:head>
        <h:body>
            <ui:composition template="template.xhtml">
                <ui:define name="content">
                    <h:form id="mainForm">
                        <p:wizard widgetVar="wizard"
                                  nextLabel="ถัดไป"
                                  backLabel="ย้อนกลับ">
                            <p:tab id="payee" title="รายการ">
                                <p:panel header="รายการ">
                                    <h:panelGrid columns="1" >
                                        <p:commandButton type="button"
                                                         value="เพิ่มรายการ"
                                                         icon="ui-icon-document"
                                                         onclick="PF('createDialog').show();" />
                                        <p:dataTable id="dataTable"
                                                     var="item" value="#{counterServiceView.payments}"
                                                     paginator="true"
                                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     rows="15"
                                                     rowsPerPageTemplate="15,50,100">
                                            <p:column headerText="ผู้รับเงิน">
                                                <h:outputLabel value="#{counterServiceView.getPayeeName(item.payee)}"/>
                                            </p:column>
                                            <p:column headerText="หมายเลขอ้างอิง">
                                                <h:outputText value="#{item.referenceNumber}" />
                                            </p:column>
                                            <p:column headerText="จำนวน">
                                                <h:outputText value="#{item.amount}">
                                                    <f:convertNumber groupingUsed="true"
                                                                     minFractionDigits="2"/>
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="วันครบกำหนดชำระ">
                                                <h:outputText value="#{item.dueDate}">
                                                    <f:convertDateTime pattern="dd MMM yyyy"
                                                                       timeZone="Asia/Bangkok"/>
                                                </h:outputText>
                                            </p:column>
                                            <p:column>
                                                <p:commandButton update=":updateForm"
                                                                 oncomplete="PF('updateDialog').show();"
                                                                 icon="ui-icon-pencil">
                                                    <f:setPropertyActionListener value="#{item}"
                                                                                 target="#{counterServiceView.selectedPayment}"/>
                                                </p:commandButton>
                                            </p:column>
                                        </p:dataTable>
                                    </h:panelGrid>
                                </p:panel>
                            </p:tab>
                            <p:tab id="summary" title="ยอดที่ต้องชำระ">
                                <p:panel header="ยอดที่ต้องชำระ">
                                    <h:panelGrid columns="2" cellpadding="5">
                                        <h:outputLabel for="totalPrice" value="จำนวนเงินรวม" />
                                        <p:inputText value="#{counterServiceView.total}"
                                                     readonly="true"/>
                                        <f:facet name="footer">
                                            <p:commandButton value="บันทึก"
                                                             actionListener="#{counterServiceView.save}"
                                                             update=":mainForm :createForm :updateForm"
                                                             oncomplete="PF('wizard').loadStep('payee', false);"/>
                                            <p:commandButton value="ยกเลิก"
                                                             actionListener="#{counterServiceView.cancel}"
                                                             update=":mainForm :createForm :updateForm"
                                                             oncomplete="PF('wizard').loadStep('payee', false);"/>
                                        </f:facet>
                                    </h:panelGrid>
                                </p:panel>
                            </p:tab>
                        </p:wizard>
                    </h:form>
                    <p:dialog widgetVar="createDialog"
                              header="ผู้รับเงิน"
                              modal="true">
                        <h:form id="createForm">
                            <h:panelGrid columns="3">
                                <p:outputLabel for="payee"
                                               value="ผู้รับเงิน"/>
                                <p:selectOneMenu id="payee"
                                                 value="#{counterServiceView.payment.payee}">
                                    <f:selectItems var="p" value="#{counterServiceView.payees}"
                                                   itemLabel="#{p.payeeName}"
                                                   itemValue="#{p.payeeId}"/>
                                </p:selectOneMenu>
                                <p:message for="payee"/>

                                <p:outputLabel for="referenceNumber"
                                               value="หมายเลขอ้างอิง"/>
                                <p:inputText id="referenceNumber"
                                             value="#{counterServiceView.payment.referenceNumber}"
                                             required="true">
                                    <f:validateLength maximum="30"/>
                                </p:inputText>
                                <p:message for="referenceNumber"/>

                                <p:outputLabel for="amount"
                                               value="จำนวน"/>
                                <p:inputText id="amount"
                                             value="#{counterServiceView.payment.amount}"
                                             required="true">
                                    <f:convertNumber groupingUsed="true"
                                                     maxFractionDigits="2"/>
                                    <f:validateDoubleRange minimum="0.25"
                                                           maximum="30000.00"/>
                                </p:inputText>
                                <p:message for="amount"/>

                                <p:outputLabel for="dueDate"
                                               value="วันครบกำหนดชำระ"/>
                                <p:calendar id="dueDate"
                                            value="#{counterServiceView.payment.dueDate}"
                                            required="true"
                                            readonlyInput="true"
                                            mindate="now()"
                                            pattern="dd MMM yyyy">
                                </p:calendar>
                                <p:message for="dueDate"/>

                                <f:facet name="footer">
                                    <p:commandButton value="บันทึก"
                                                     icon="ui-icon-disk"
                                                     actionListener="#{counterServiceView.createPayment}"
                                                     update=":mainForm :createForm"
                                                     oncomplete="if (args.saved) PF('createDialog').hide();"/>
                                </f:facet>
                            </h:panelGrid>
                        </h:form>
                    </p:dialog>
                    <p:dialog widgetVar="updateDialog"
                              header="ผู้รับเงิน"
                              modal="true">
                        <h:form id="updateForm">
                            <h:panelGrid columns="3">
                                <p:outputLabel for="payee"
                                               value="ผู้รับเงิน"/>
                                <p:selectOneMenu id="payee"
                                                 value="#{counterServiceView.selectedPayment.payee}">
                                    <f:selectItems var="p" value="#{counterServiceView.payees}"
                                                   itemLabel="#{p.payeeName}"
                                                   itemValue="#{p.payeeId}"/>
                                </p:selectOneMenu>
                                <p:message for="payee"/>

                                <p:outputLabel for="referenceNumber"
                                               value="หมายเลขอ้างอิง"/>
                                <p:inputText id="referenceNumber"
                                             value="#{counterServiceView.selectedPayment.referenceNumber}"
                                             required="true">
                                    <f:validateLength maximum="30"/>
                                </p:inputText>
                                <p:message for="referenceNumber"/>

                                <p:outputLabel for="amount"
                                               value="จำนวน"/>
                                <p:inputText id="amount"
                                             value="#{counterServiceView.selectedPayment.amount}"
                                             required="true">
                                    <f:convertNumber groupingUsed="true"
                                                     maxFractionDigits="2"/>
                                    <f:validateDoubleRange minimum="0.25"
                                                           maximum="30000.00"/>
                                </p:inputText>
                                <p:message for="amount"/>

                                <p:outputLabel for="dueDate"
                                               value="วันครบกำหนดชำระ"/>
                                <p:calendar id="dueDate"
                                            value="#{counterServiceView.selectedPayment.dueDate}"
                                            required="true"
                                            readonlyInput="true"
                                            mindate="now()"
                                            pattern="dd MMM yyyy">
                                </p:calendar>
                                <p:message for="dueDate"/>

                                <f:facet name="footer">
                                    <p:commandButton value="บันทึก"
                                                     icon="ui-icon-disk"
                                                     actionListener="#{counterServiceView.updatePayment}"
                                                     update=":mainForm :updateForm"
                                                     oncomplete="if (args.saved) PF('updateDialog').hide();"/>
                                    <p:commandButton value="ลบ"
                                                     icon="ui-icon-trash"
                                                     actionListener="#{counterServiceView.deletePayment}"
                                                     update=":mainForm :updateForm"
                                                     oncomplete="if (args.saved) PF('updateDialog').hide();"/>
                                </f:facet>
                            </h:panelGrid>
                        </h:form>
                    </p:dialog>
                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>
    </f:view>
</html>
