<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <f:view>
        <h:body>
            <h:form>
                <p:megaMenu orientation="horizontal" style="margin-top:20px">
                    <p:submenu label="ไปรษณีย์" icon="ui-icon-mail-closed">
                        <p:column>
                            <p:submenu label="บริการ">
                                <p:menuitem value="ไปรษณีย์" outcome="post"/>
                            </p:submenu>
                        </p:column>
                    </p:submenu>
                    <p:submenu label="ถ่ายเอกสาร" icon="ui-icon-copy">
                        <p:column>
                            <p:submenu label="บริการ">
                                <p:menuitem value="ถ่ายเอกสาร" outcome="transMstDoc"/>
                                <p:menuitem value="ค้นหาเอกสาร"/>
                            </p:submenu>
                        </p:column>
                    </p:submenu>
                    <p:submenu label="ฝากชำระเงิน" icon="ui-icon-flag">
                        <p:column>
                            <p:submenu label="บริการ">
                                <p:menuitem value="ฝากชำระเงิน" outcome="counterService"/>
                                <p:menuitem value="การค้นหาใบเสร็จ"/>
                            </p:submenu>
                        </p:column>
                    </p:submenu>
                    <p:menuitem value="ขายสินค้า" icon="ui-icon-suitcase" outcome="productTx"/>
                    <p:menuitem value="ลูกค้า" icon="ui-icon-person"/>
                    <p:submenu label="รายงาน" icon="ui-icon-gear">
                        <p:column>
                            <p:submenu label="รายงาน">
                                <p:menuitem value="รายงานฉบับที่ 1"/>
                            </p:submenu>
                        </p:column>
                    </p:submenu>
                    <p:submenu label="ตั้งค่าระบบ" icon="ui-icon-wrench">
                        <p:column>
                            <p:submenu label="ไปรษณีย์">
                                <p:menuitem value="ข้อมูลบริษัท" outcome="postMstCompany"/>
                                <p:menuitem value="ประเภทพื้นที่การส่ง" outcome="postMstAreaType"/>
                                <p:menuitem value="ประเภทการส่ง" outcome="postMstDeliveryType"/>
                                <p:menuitem value="สถานที่จัดส่ง"  outcome="postMstPost"/>
                                <p:menuitem value="บริการสินค้า" outcome="postMstProductService"/>
				<p:menuitem value="บริการ" outcome="postMstService"/>
                                <p:menuitem value="ค่าธรรมเนียม" outcome="postMstServiceFee"/>
                                <p:menuitem value="นำข้อมูลเข้า"/>
                            </p:submenu>
                            <p:submenu label="ฝากชำระเงิน">
                                <p:menuitem value="ประเภทบริการ" outcome="payMstType"/>
                                <p:menuitem value="รายการผู้รับ" outcome="payMstReceiver"/>
                                <p:menuitem value="การตั้งราคา"/>
                            </p:submenu>
                            <p:submenu label="คลังสินค้า">
                                <p:menuitem value="จัดการสินค้า" outcome="stockMstProduct"/>
                                <p:menuitem value="เบิกสินค้า"/>
                            </p:submenu>
                            <p:submenu label="ทั่วไป">
                                <p:menuitem value="ผู้ใช้" outcome="user"/>
                                <p:menuitem value="สำรองข้อมูล"/>
                                <p:menuitem value="กู้คืนข้อมูล"/>
                            </p:submenu>
                        </p:column>
                    </p:submenu>
                    <p:menuitem value="ออกจากระบบ" icon="ui-icon-power" url="/logout"/>
                </p:megaMenu>
            </h:form>
        </h:body>
    </f:view>
</html>
