<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui">  

    <h:head>  

    </h:head>  

    <h:body>  

        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-5">
                    <p:tabView>
                        <p:tab title="ข้อมูลรายการไปรษณีย์">

                            <h:panelGrid columns="2" cellpadding="2">
                                <p:selectBooleanCheckbox value="#{selectBooleanView.value1}" /> 
                                <h:outputText value="การจัดส่งระหว่างประเทศ" />
                            </h:panelGrid>

                            <p:selectOneMenu id="test1" value="#{selectOneMenuView.console}" style="width:100%">
                                <f:selectItem itemLabel="กรุณาเลือกรายการ" itemValue="" />
                                <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                                <f:selectItem itemLabel="PS4" itemValue="PS4" />
                                <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                            </p:selectOneMenu>

                            <h:panelGrid columns="2" cellpadding="5">
                                <h:outputText value="ประเภทไปรษณียภัณฑ์" />
                                <h:outputText value="วิธีจัดส่ง" />

                                <p:selectOneMenu id="test2" value="#{selectOneMenuView.console}" style="width:100%">
                                    <f:selectItem itemLabel="กรุณาเลือกรายการ" itemValue="" />
                                    <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                                    <f:selectItem itemLabel="PS4" itemValue="PS4" />
                                    <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                                </p:selectOneMenu>

                                <p:selectOneMenu id="test3" value="#{selectOneMenuView.console}" style="width:100%">
                                    <f:selectItem itemLabel="กรุณาเลือกรายการ" itemValue="" />
                                    <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                                    <f:selectItem itemLabel="PS4" itemValue="PS4" />
                                    <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                                </p:selectOneMenu>

                                <h:outputText value="ชื่อผู้นำส่ง" />
                                <h:outputText value="เบอร์โทรศัพท์" />

                                <p:inputText />
                                <p:inputText />

                                <h:outputText value="หมายเลขสิ่งของ" />
                                <h:outputText value="น้ำหนัก / จำนวน" />

                                <p:inputText />
                                <p:spinner />

                            </h:panelGrid>

                            <h:panelGrid columns="2" cellpadding="2">
                                <p:selectBooleanCheckbox value="#{selectBooleanView.value1}" /> 
                                <h:outputText value="ใบตอบรับด่วนพิเศษ (12.00)" />

                                <p:selectBooleanCheckbox value="#{selectBooleanView.value1}" /> 
                                <h:outputText value="ใบตอบรับต่างประเทศ (20.00)" />

                                <p:selectBooleanCheckbox value="#{selectBooleanView.value1}" /> 
                                <h:outputText value="ใบตอบรับลงทะเบียน (3.00)" />
                            </h:panelGrid>

                            <h:panelGrid columns="1" cellpadding="2">
                                <h:outputText value="ราคา (บาท)" />
                                <p:inputText value="0.00"/>

                                <h:outputText value="ค่าบริการ (บาท)" />
                                <p:inputText value="0.00"/>

                            </h:panelGrid>



                        </p:tab>
                        <p:tab title="ข้อมูลผู้รับ-ส่ง">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="demo/images/godfather/godfather2.jpg" />
                                <h:outputText value="Francis Ford Coppola's legendary..." />
                            </h:panelGrid>
                        </p:tab>
                        <p:tab title="ข้อมูลสินค้า">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="demo/images/godfather/godfather3.jpg" />
                                <h:outputText value="After a break of more than 15 years..." />
                            </h:panelGrid>
                        </p:tab>
                    </p:tabView>
                </div>
                <div class="ui-grid-col-7">
                    <div class="ui-grid-row">
                        <p:tabView>
                            <p:tab title="ข้อมูลรายการไปรษณีย์">
                                <div class="ui-grid-col-12">
                                    <div class="ui-grid-row">
                                        <h:panelGrid columns="2" cellpadding="2">
                                            <p:button  value="เพิ่มข้อมูล" icon="ui-icon-document">
                                            </p:button>

                                            <p:button  value="ลบข้อมูล" icon="ui-icon-close">
                                            </p:button>
                                        </h:panelGrid>
                                    </div>
                                    <div class="ui-grid-row">
                                        <p:dataTable var="car" value="#{dtBasicView.cars}" style="width:100%">
                                            <p:column headerText="เลขที่ใบเสร็จ">
                                                <h:outputText value="#{car.id}" />
                                            </p:column>

                                            <p:column headerText="รหัสการส่ง">
                                                <h:outputText value="#{car.year}" />
                                            </p:column>

                                            <p:column headerText="ไปรษณีย์">
                                                <h:outputText value="#{car.brand}" />
                                            </p:column>

                                            <p:column headerText="วิธีจัดส่ง">
                                                <h:outputText value="#{car.color}" />
                                            </p:column>

                                            <p:column headerText="วิธีจัดส่ง">
                                                <h:outputText value="#{car.color}" />
                                            </p:column>

                                            <p:column headerText="ผู้ส่ง">
                                                <h:outputText value="#{car.color}" />
                                            </p:column>

                                            <p:column headerText="ผู้รับ">
                                                <h:outputText value="#{car.color}" />
                                            </p:column>

                                            <p:column headerText="ปลายทาง">
                                                <h:outputText value="#{car.color}" />
                                            </p:column>

                                            <p:column headerText="ราคา">
                                                <h:outputText value="#{car.color}" />
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </div>
                            </p:tab>
                        </p:tabView>
                    </div>
                    <div class="ui-grid-row">
                        <p:tabView>
                            <p:tab title="รายการชำระเงิน">
                                <h:panelGrid columns="2" cellpadding="2">
                                    <h:panelGrid columns="2" cellpadding="2">
                                        <h:outputText value="จำนวนเงิน (บาท)" />
                                        <p:inputText value="0.00"/>

                                        <h:outputText value="รับเงิน (บาท)" />
                                        <p:inputText value="0.00"/>

                                        <h:outputText value="ทอนเงิน (บาท)" />
                                        <p:inputText value="0.00"/>

                                    </h:panelGrid>

                                    <h:panelGrid columns="1" cellpadding="2">
                                        <p:button  value="บันทึก" icon="ui-icon-print">
                                        </p:button>

                                        <p:button  value="ล้าง" icon="ui-icon-close">
                                        </p:button>
                                    </h:panelGrid>


                                </h:panelGrid>
                            </p:tab>
                        </p:tabView>
                    </div>


                </div>
            </div>
        </div>




    </h:body>  
</html>  