<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <f:view>
        <h:body>
            <ui:composition> 
		<nav class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
			<div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#">Smart Pay Post</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
			    <ul class="nav navbar-nav">
				<li class="active"><a href="#">ไปรษณีย์</a></li>
				<li><a href="#about">ฝากชําระเงิน</a></li>
				<li><a href="#contact">เอกสาร</a></li>
				<li><a href="#contact">สินค้า</a></li>
			    </ul>
			</div><!--/.nav-collapse -->
		    </div>
		</nav>
	    </ui:composition>	
        </h:body>
    </f:view>
</html>
