<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:view>
        <h:head>
            <!--
            create by pradoem
            
           <h:outputStylesheet name="css/bootstrap.css" />
            <h:outputStylesheet name="css/bootstrap.min.css" />
            -->
        </h:head>
        <h:body >
            <ui:composition template="template.xhtml">
                <ui:define name="content">
		    <h:form id="payTypeListForm">
                        
				<p:panel header="ประเภทการให้บริการ">
                        
				    <p:messages />
				    <h:panelGrid columns="1" >
                                                                              <p:commandButton value="เพิ่มประเภทการให้บริการ"  actionListener="#{payMstTypeView.doAddForm}"   update="payTypeForm"  oncomplete="PF('dlg').show();" />
                                                                              <p:dataTable id="tbPayType"   var="payTypeItems" value="#{payMstTypeView.listPayMstType}" rows="10"
						     paginator="true"
						     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						     rowsPerPageTemplate="5,10,15">
					  
                                                                                    <p:column headerText="รหัสประเภทการให้บริการ">
                                                                                        <h:outputText value="#{payTypeItems.payTypeId}" />
					    </p:column>
					    <p:column headerText="ประเภทการให้บริการ">
                                                                                     <h:outputText value="#{payTypeItems.payTypeName}" />
					    </p:column>
					    <p:column headerText="หมายเหตุ">
                                                                                     <h:outputText value="#{payTypeItems.payRemark}" />
					    </p:column>

					    <p:column headerText="Action">
                                                                                   <p:commandButton icon="ui-icon-pencil" value="Edit" title="Edit" actionListener="#{payMstTypeView.doEditAction(payTypeItems.payTypeId)}" update="payTypeForm"  oncomplete="PF('dlg').show();"  />
                                                                                  <p:commandButton icon="ui-icon-trash" value="Delete" title="Delete" actionListener="#{payMstTypeView.doDeleteAction(payTypeItems.payTypeId)}" update="payTypeListForm"    />
					    </p:column>
					</p:dataTable>

				    </h:panelGrid>
                                    
				</p:panel>
                                    
		    </h:form>
                                     <h:form id="payTypeForm">
			<p:dialog header="ประเภทการให้บริการ" widgetVar="dlg" resizable="false" modal="true" closable="true"  width="500" height="250">
			    <h:panelGrid columns="2" cellpadding="5" onkeypress="if (event.keyCode == 13) {
					return false;
				    }" >

                                                                   <h:outputLabel for="payTypeName" value="ประเภทการให้บริการ :" />
                                                                   <p:inputText value="#{payMstTypeView.payMstTypeObj.payTypeName}" required="true" label="ประเภทการให้บริการ"/>
                                                                   
                                                                  <h:outputLabel for="payRemark" value="หมายเหตุ :" />
                                                                  <p:inputText value="#{payMstTypeView.payMstTypeObj.payRemark}"  label="หมายเหตุ"/>
                                                                   
				<f:facet name="footer">
                                                                <p:commandButton value="บันทึก" type="submit"  actionListener="#{payMstTypeView.doSaveAction}" update="payTypeListForm" oncomplete="PF('dlg').hide();" />
				    <p:commandButton process="@this" value="ยกเลิก" actionListener="#{payMstTypeView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
				</f:facet>  
                                                            
                                                                       <h:inputHidden value="#{payMstTypeView.payMstTypeObj.payTypeId}" id="payTypeId" />
			    </h:panelGrid>
			</p:dialog>

		    </h:form>

                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
                     
