<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:view>
        <h:head>
            <!--
            create by pradoem
            
           <h:outputStylesheet name="css/bootstrap.css" />
            <h:outputStylesheet name="css/bootstrap.min.css" />
            -->
        </h:head>
        <h:body >
            <ui:composition template="template.xhtml">
                <ui:define name="content">
		    <h:form id="payReceiverListForm">
                        
				<p:panel header=" รายการผู้รับ ">
                        
				    <p:messages />
				    <h:panelGrid columns="1" >
                                                                              <p:commandButton value="เพิ่มรายการผู้รับ"  actionListener="#{payMstReceiverView.doAddForm}"   update="payReceiverForm"  oncomplete="PF('dlg').show();" />
                                                                              <p:dataTable id="tbPayReceiverer"   var="payReceivererItems" value="#{payMstReceiverView.listPayMstReceiver}" rows="10"
						     paginator="true"
						     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						     rowsPerPageTemplate="5,10,15">
					  
                                                                                  <p:column headerText="รหัส" >
                                                                                      <h:outputText value="#{payReceivererItems.payReceiverId}" />
					    </p:column>
                                                                                  
					    <p:column headerText="ประเภทการให้บริการ">
                                                                                   <h:outputText value="#{payReceivererItems.payTypeName}" />
					    </p:column>
                                                                                  
                                                                                  <p:column headerText="รายการผู้รับ">
                                                                                      <h:outputText value="#{payReceivererItems.payReceiverName}" />
					    </p:column>
                                                                                  
					    <p:column headerText="หมายเหตุ">
                                                                                         <h:outputText value="#{payReceivererItems.remark}" />
					    </p:column>

					    <p:column headerText="Action">
                                                                                 <p:commandButton icon="ui-icon-pencil" value="Edit" title="Edit" actionListener="#{payMstReceiverView.doEditAction(payReceivererItems.payReceiverId)}" update="payReceiverForm"  oncomplete="PF('dlg').show();"  />
                                                                                  <p:commandButton icon="ui-icon-trash" value="Delete" title="Delete" actionListener="#{payMstReceiverView.doDeleteAction(payReceivererItems.payReceiverId)}" update="payReceiverListForm"    />
					    </p:column>
					</p:dataTable>

				    </h:panelGrid>
                                    
				</p:panel>
                                    
		    </h:form>
                                     <h:form id="payReceiverForm">
			<p:dialog header=" รายการผู้รับ " widgetVar="dlg" resizable="false" modal="true" closable="true"  width="500" height="250">
			    <h:panelGrid columns="2" cellpadding="5" onkeypress="if (event.keyCode == 13) {
					return false;
				    }" >

                                                                 <h:outputLabel for="payTypeName" value="ประเภทการให้บริการ :" />
                                                                 <p:selectOneMenu id="payTypeId" value="#{payMstReceiverView.payMstReceiverObj.payTypeId}" style="width:100px"   required="true">
                                                                    <f:selectItem itemLabel="--- ประเภทการให้บริการ ----" itemValue=""  noSelectionOption="true" />
                                                                    <f:selectItems value="#{payMstReceiverView.payMstTypeDDL}" />
                                                                </p:selectOneMenu>
        
                                                                  <h:outputLabel for="payReceiverName" value="รายการผู้รับ :" />
                                                                  <p:inputText value="#{payMstReceiverView.payMstReceiverObj.payReceiverName}"  label="รายการผู้รับ"  required="true"/>
				 
                                                                  
                                                                  <h:outputLabel for="payRemark" value="หมายเหตุ :" />
                                                                  <p:inputText value="#{payMstReceiverView.payMstReceiverObj.remark}"  label="หมายเหตุ"/>
                                                                   
				<f:facet name="footer">
                                                                <p:commandButton value="บันทึก" type="submit"  actionListener="#{payMstReceiverView.doSaveAction}" update="payReceiverListForm" oncomplete="PF('dlg').hide();" />
				    <p:commandButton process="@this" value="ยกเลิก" actionListener="#{payMstReceiverView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
				</f:facet>  
                                                            
                                                                  <h:inputHidden value="#{payMstReceiverView.payMstReceiverObj.payReceiverId}" id="payReceiverId" />
			    </h:panelGrid>
			</p:dialog>

		    </h:form>

                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
                     
