<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:view>
        <h:head>
            <!--
            create by pradoem
            
           <h:outputStylesheet name="css/bootstrap.css" />
            <h:outputStylesheet name="css/bootstrap.min.css" />
            -->
        </h:head>
        <h:body >
            <ui:composition template="template.xhtml">
                <ui:define name="content">
		    <h:form id="postMstListForm">
                        
				<p:panel header=" สถานที่จัดส่ง ">
                        
				    <p:messages />
				    <h:panelGrid columns="1" >
                                                                              <p:commandButton value="เพิ่มสถานที่จัดส่ง"  actionListener="#{postMstPostView.doAddForm}"   update="postMstForm"  oncomplete="PF('dlg').show();" />
                                                                              <p:dataTable id="tbPostMst"   var="postMstItems" value="#{postMstPostView.listPostMstPost}" rows="10"
						     paginator="true"
						     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						     rowsPerPageTemplate="5,10,15">
					  
                                                                                    <p:column headerText="ลำดับ">
                                                                                        <h:outputText value="#{postMstItems.postId}" />
					    </p:column>
                                                                                  
					    <p:column headerText="รหัสตำบล">
                                                <h:outputText value="#{postMstItems.subDistrictId}" />
					    </p:column>
                                                                                  
					    <p:column headerText="ตำบล">
                                                <h:outputText value="#{postMstItems.subDistrictName}" />
					    </p:column>
                                                                                  
                                                                                  <p:column headerText="รหัสอำเภอ">
                                                                                      <h:outputText value="#{postMstItems.districtId}" />
					    </p:column>
                                                                                  
                                                                                  <p:column headerText="อำเภอ">
                                                                                      <h:outputText value="#{postMstItems.districtName}" />
					    </p:column>
                                                                                  
                                                                                    <p:column headerText="รหัสจังหวัด">
                                                                                        <h:outputText value="#{postMstItems.provinceId}" />
					    </p:column>
                                                                                  
                                                                                   <p:column headerText="จังหวัด">
                                                                                       <h:outputText value="#{postMstItems.provinceName}" />
					    </p:column>
                                                                                  
                                                                                  <p:column headerText="รหัสไปรษณีย์">
                                                                                      <h:outputText value="#{postMstItems.postCode}" />
					    </p:column>
                                                                                  
                                                                                   <p:column headerText="สถานะ">
                                                                                    <h:outputText value="#{postMstItems.isActive eq 0 ? 'ไม่ใช้งาน' : 'ใช้งาน'}" />                        
					    </p:column>

					    <p:column headerText="Action">
                                                                                   <p:commandButton icon="ui-icon-pencil" value="Edit" title="Edit" actionListener="#{postMstPostView.doEditAction(postMstItems.postId)}" update="postMstForm"  oncomplete="PF('dlg').show();"  />
                                                                                  <p:commandButton icon="ui-icon-trash" value="Delete" title="Delete" actionListener="#{postMstPostView.doDeleteAction(postMstItems.postId)}" update="postMstListForm"    />
					    </p:column>
					</p:dataTable>

				    </h:panelGrid>
                                    
				</p:panel>
                                    
		    </h:form>
                                     <h:form id="postMstForm">
			<p:dialog header="ประเภทการให้บริการ" widgetVar="dlg" resizable="false" modal="true" closable="true"  width="500" height="450">
			    <h:panelGrid columns="2" cellpadding="5" onkeypress="if (event.keyCode == 13) {
					return false;
				    }" >

                                                                   <h:outputLabel for="subDistrictId" value="รหัสตำบล :" />
                                                                   <p:inputText value="#{postMstPostView.postMstPostObj.subDistrictId}" required="true" label="รหัสตำบล"/>
                                                                   
                                                                                                   
                                                                   <h:outputLabel for="subDistrictName" value="ตำบล :" />
                                                                   <p:inputText value="#{postMstPostView.postMstPostObj.subDistrictName}" required="true" label="ตำบล"/>
                                                                   
                                                                                                   
                                                                   <h:outputLabel for="districtId" value="รหัสอำเภอ :" />
                                                                   <p:inputText value="#{postMstPostView.postMstPostObj.districtId}" required="true" label="รหัสอำเภอ"/>
                                                                   
                                                                                                   
                                                                   <h:outputLabel for="districtName" value="อำเภอ :" />
                                                                   <p:inputText value="#{postMstPostView.postMstPostObj.districtName}" required="true" label="อำเภอ"/>
                                                                   
                                                                                                   
                                                                   <h:outputLabel for="provinceId" value="รหัสจังหวัด :" />
                                                                   <p:inputText value="#{postMstPostView.postMstPostObj.provinceId}" required="true" label="รหัสจังหวัด"/>
                                                                   
                                                                                                   
                                                                   <h:outputLabel for="provinceName" value="จังหวัด :" />
                                                                   <p:inputText value="#{postMstPostView.postMstPostObj.provinceName}" required="true" label="จังหวัด"/>
                                                                   
                                                                                                   
                                                                   <h:outputLabel for="postCode" value="รหัสไปรษณีย์ :" />
                                                                   <p:inputText value="#{postMstPostView.postMstPostObj.postCode}" required="true" label="รหัสไปรษณีย์"/>
                                                                                                                                      
                                                                       <h:outputLabel for="isActive" value="ใช้งาน :" />
                                                                       <h:selectOneRadio id="isActive" value="#{postMstPostView.postMstPostObj.isActive}" required="true" label="การใช้งาน">
                                                                           <f:selectItem itemLabel="ใช้งาน" itemValue="1" />
                                                                           <f:selectItem itemLabel="ไม่ใช้งาน" itemValue="0" />
                                                                       </h:selectOneRadio>
               
   
				<f:facet name="footer">
                                                                <p:commandButton value="บันทึก" type="submit"  actionListener="#{postMstPostView.doSaveAction}" update="postMstListForm" oncomplete="PF('dlg').hide();" />
				    <p:commandButton process="@this" value="ยกเลิก" actionListener="#{postMstPostView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
				</f:facet>  
                                                            
                                                                       <h:inputHidden value="#{postMstPostView.postMstPostObj.postId}" id="postId" />
			    </h:panelGrid>
			</p:dialog>

		    </h:form>

                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
                     
