<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view>
        <h:head>
        </h:head>
        <h:body>
            <ui:composition template="template.xhtml">
                <ui:define name="content">
                    <h:form id="serviceForm">

                        <p:growl id="msgs" sticky="true" showDetail="true"/>
			<p:tabView id="tab">
			    <p:tab title="การจัดการบริการ">


				<h:panelGrid columns="1" >
				    <p:commandButton value="เพิ่มบริการ" type="button" onclick="PF('serviceDlg').show();" />

				    <p:dataTable id="serviceTable" var="service" widgetVar="stockTable" value="#{postMstServiceView.postMstServiceList}" rows="10"
						 paginator="true"
						 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 rowsPerPageTemplate="5,10,15">

					<f:facet name="header">
					    <p:outputPanel>
						<h:outputText value="Search all fields:" />
						<p:inputText id="globalFilter" onkeyup="PF('stockTable').filter()" style="width:150px" placeholder="Enter keyword"/>
					    </p:outputPanel>
					</f:facet>

					<p:column filterBy="#{service.serviceName}" headerText="บริการ">
					    <h:outputText value="#{service.serviceName}" />
					</p:column>
					<p:column headerText="ราคาค่าบริการ">
					    <h:outputText value="#{service.fixCost}" />
					</p:column>
					<p:column headerText="ราคาค่าบริการ(กรณีคิดน้ำหนัก)">
					    <h:outputText value="#{service.weightCost}" />
					</p:column>
					<p:column headerText="Action">
                                            <p:commandButton icon="ui-icon-pencil" value="Edit" title="Edit" update=":updateServiceFormDlg" actionListener="#{postMstServiceView.editObj(service)}" oncomplete="PF('updateServiceDlg').show();"/>
                                            <p:commandButton icon="ui-icon-trash" value="Delete" title="Delete" update=":serviceForm:tab:serviceTable" actionListener="#{postMstServiceView.deleteObj(service)}" />
                                        </p:column>
				    </p:dataTable>
				</h:panelGrid>
			    </p:tab>
			</p:tabView>
		    </h:form>



		    <p:dialog header="บริการ" widgetVar="serviceDlg" resizable="false" modal="true" closable="false">
			<h:form id="serviceFormDlg">
			    <h:panelGrid columns="3" cellpadding="5">

				<h:outputLabel for="name" value="ชื่อบริการ" />
				<p:inputText id="name" value="#{postMstServiceView.postMstService.serviceName}" required="true"/>
				<p:message for="name"/>

				<h:outputLabel for="fix" value="ราคาค่าบริการ" />
				<p:inputText id="fix" value="#{postMstServiceView.postMstService.fixCost}" required="true"/>
				<p:message for="fix"/>

				<h:outputLabel for="weight" value="ราคาค่าบริการ(กรณีคิดน้ำหนัก)" />
				<p:inputText id="weight" value="#{postMstServiceView.postMstService.weightCost}" required="true"/>
				<p:message for="weight"/>


				<f:facet name="footer">
				    <p:commandButton value="บันทึก" actionListener="#{postMstServiceView.createProductStock()}" update=":serviceForm:tab:serviceTable" oncomplete="if (args.saved) PF('serviceDlg').hide();"/>
                                    <p:commandButton process="@this" value="ยกเลิก" update=":serviceFormDlg :serviceForm:tab:serviceTable" actionListener="#{stockMstProductView.handleDialogClose}" oncomplete="PF('serviceDlg').hide();"/>
				</f:facet>  
			    </h:panelGrid>
			</h:form>
		    </p:dialog>

		    <p:dialog header="บริการ" widgetVar="updateServiceDlg" resizable="false" modal="true" closable="false">
			<h:form id="updateServiceFormDlg">
			    <h:panelGrid columns="3" cellpadding="5">

				<h:outputLabel for="name" value="ชื่อบริการ" />
				<p:inputText id="name" value="#{postMstServiceView.postMstService.serviceName}" required="true"/>
				<p:message for="name"/>

				<h:outputLabel for="fix" value="ราคาค่าบริการ" />
				<p:inputText id="fix" value="#{postMstServiceView.postMstService.fixCost}" required="true"/>
				<p:message for="fix"/>

				<h:outputLabel for="weight" value="ราคาค่าบริการ(กรณีคิดน้ำหนัก)" />
				<p:inputText id="weight" value="#{postMstServiceView.postMstService.weightCost}" required="true"/>
				<p:message for="weight"/>

				<f:facet name="footer">
				    <p:commandButton value="บันทึก" actionListener="#{postMstServiceView.updateObj()}" update=":serviceForm:tab:serviceTable" oncomplete="if (args.saved) PF('updateServiceDlg').hide();"/>
                                    <p:commandButton process="@this" value="ยกเลิก" update=":updateServiceFormDlg :serviceForm:tab:serviceTable" actionListener="#{stockMstProductView.handleDialogClose}" oncomplete="PF('updateServiceDlg').hide();"/>
				</f:facet>  
			    </h:panelGrid>
			</h:form>
		    </p:dialog>







                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
