<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:view>
        <h:head>
            <!--
            create by pradoem
            
           <h:outputStylesheet name="css/bootstrap.css" />
            <h:outputStylesheet name="css/bootstrap.min.css" />
            -->
        </h:head>
        <h:body >
            <ui:composition template="template.xhtml">
                <ui:define name="content">
		    <h:form id="postMstProductListForm">
                        
				<p:panel header=" บริการสินค้า ">
                        
				    <p:messages />
				    <h:panelGrid columns="1" >
                                                                              <p:commandButton value="เพิ่มบริการสินค้า"  actionListener="#{postMstProductServiceView.doAddForm}"   update="postMstProductForm"  oncomplete="PF('dlg').show();" />
                                                                              <p:dataTable id="tbPostProduct"   var="postProductItems" value="#{postMstProductServiceView.listpostMstProduct}" rows="10"
						     paginator="true"
						     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						     rowsPerPageTemplate="5,10,15">
					  
                                                                                  <p:column headerText="รหัสบริการสินค้า" >
                                                                                      <h:outputText value="#{postProductItems.psId}" />
					    </p:column>
                                                                                  
					    <p:column headerText="ชนิดสินค้า">
                                                                                    <h:outputText value="#{postProductItems.productTypeName}" />
					    </p:column>
                                                                                  
                                                                                  <p:column headerText="ประเภทการส่ง">
                                                                                      <h:outputText value="#{postProductItems.deliveryTypeName}" />
					    </p:column>
                                                                                  
					    <p:column headerText="พื้นที่จัดส่ง">
                                                                                   <h:outputText value="#{postProductItems.areaTypeName}" />
					    </p:column>
                                                                                  
                                                                                  <p:column headerText="สถานะ"> 
                                                                                    <h:outputText value="#{postProductItems.isActive eq 0 ? 'ไม่ใช้งาน' : 'ใช้งาน'}" />                                                                                                           
					    </p:column>

					    <p:column headerText="Action">
                                                                                  <p:commandButton icon="ui-icon-pencil" value="Edit" title="Edit" actionListener="#{postMstProductServiceView.doEditAction(postProductItems.psId)}" update="postMstProductForm"  oncomplete="PF('dlg').show();"  />
                                                                                  <p:commandButton icon="ui-icon-trash" value="Delete" title="Delete" actionListener="#{postMstProductServiceView.doDeleteAction(postProductItems.psId)}" update="postMstProductListForm"    />
					    </p:column>
					</p:dataTable>

				    </h:panelGrid>
                                    
				</p:panel>
                                    
		    </h:form>
                                     <h:form id="postMstProductForm">
			<p:dialog header=" บริการสินค้า " widgetVar="dlg" resizable="false" modal="true" closable="true"  width="500" height="350">
			    <h:panelGrid columns="2" cellpadding="5" onkeypress="if (event.keyCode == 13) {
					return false;
				    }" >

                                                                 <h:outputLabel for="productTypeCode" value="ชนิดสินค้า :" />
                                                                 <p:selectOneMenu id="productTypeCode" label="ชนิดสินค้า" value="#{postMstProductServiceView.postMstProductObj.productTypeCode}" style="width:250px"   required="true">
                                                                    <f:selectItem itemLabel="--- ชนิดสินค้า ----" itemValue=""  noSelectionOption="true" />
                                                                    <f:selectItems value="#{postMstProductServiceView.productTypeDDL}" />
                                                                </p:selectOneMenu>
                                                                 
                                                                 
                                                                 <h:outputLabel for="deliveryTypeCode" value="ประเภทการส่ง :" />
                                                                 <p:selectOneMenu id="deliveryTypeCode" label="ประเภทการส่ง" value="#{postMstProductServiceView.postMstProductObj.deliveryTypeCode}" style="width:250px"   required="true">
                                                                    <f:selectItem itemLabel="--- ประเภทการส่ง ----" itemValue=""  noSelectionOption="true" />
                                                                    <f:selectItems value="#{postMstProductServiceView.deliveryTypeDDL}" />
                                                                </p:selectOneMenu>
                                                                 
                                                                 
                                                                 <h:outputLabel for="areaTypeCode" value="พื้นที่จัดส่ง :" />
                                                                 <p:selectOneMenu id="areaTypeCode"   label="พื้นที่จัดส่ง" value="#{postMstProductServiceView.postMstProductObj.areaTypeCode}" style="width:250px"   required="true">
                                                                    <f:selectItem itemLabel="--- พื้นที่จัดส่ง ----" itemValue=""  noSelectionOption="true" />
                                                                    <f:selectItems value="#{postMstProductServiceView.areaTypeDDL}" />
                                                                </p:selectOneMenu>
                                                                 
                                                                    <h:outputLabel for="isActive" value="ใช้งาน :" />
                                                                    <h:selectOneRadio id="isActive" value="#{postMstProductServiceView.postMstProductObj.isActive}" required="true" label="การใช้งาน">
                                                                           <f:selectItem itemLabel="ใช้งาน" itemValue="1" />
                                                                           <f:selectItem itemLabel="ไม่ใช้งาน" itemValue="0" />
                                                                     </h:selectOneRadio>
        
        
				<f:facet name="footer">
                                                                <p:commandButton value="บันทึก" type="submit"  actionListener="#{postMstProductServiceView.doSaveAction}" update="postMstProductListForm" oncomplete="PF('dlg').hide();" />
				    <p:commandButton process="@this" value="ยกเลิก" actionListener="#{postMstProductServiceView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
				</f:facet>  
                                                            
                                                                  <h:inputHidden value="#{postMstProductServiceView.postMstProductObj.psId}" id="psId" />
			    </h:panelGrid>
			</p:dialog>

		    </h:form>

                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
                     
