<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view>
        <h:head>
        </h:head>
        <h:body>
            <ui:composition template="template.xhtml">
                <ui:define name="content">
                    <h:form>
                        <p:growl id="growl" life="2000"/>
                        <p:tabView>
                            <p:tab title="ไปรษณีย์">
                                <p:toolbar>
                                    <f:facet name="left">
                                        <p:commandButton type="button"
                                                         value="เริ่มใหม่"
                                                         icon="ui-icon-document"/>
                                    </f:facet>
                                </p:toolbar>
                                <p:wizard nextLabel="ถัดไป"
                                          backLabel="ย้อนกลับ">
                                    <p:tab title="ผู้ส่ง">
                                        <p:panel header="ผู้ส่ง">
                                            <p:messages/>
                                            <h:panelGrid columns="3">
                                                <p:outputLabel for="senderName"
                                                               value="ชื่อ"/>
                                                <p:inputText id="senderName"/>
                                                <p:message for="senderName"/>

                                                <p:outputLabel for="senderAddress"
                                                               value="ที่อยู่"/>
                                                <p:inputText id="senderAddress"/>
                                                <p:message for="senderAddress"/>

                                                <p:outputLabel for="senderProvince"
                                                               value="จังหวัด"/>
                                                <p:selectOneMenu id="senderProvince">

                                                </p:selectOneMenu>
                                                <p:message for="senderProvince"/>

                                                <p:outputLabel for="senderDistrict"
                                                               value="อำเภอ/เขต"/>
                                                <p:selectOneMenu id="senderDistrict">

                                                </p:selectOneMenu>
                                                <p:message for="senderDistrict"/>

                                                <p:outputLabel for="senderSubDistrict"
                                                               value="ตำบล/แขวง"/>
                                                <p:selectOneMenu id="senderSubDistrict">

                                                </p:selectOneMenu>
                                                <p:message for="senderSubDistrict"/>

                                                <p:outputLabel for="postalCode"
                                                               value="รหัสไปรษณีย์"/>
                                                <p:inputText id="postalCode"/>
                                                <p:message for="postalCode"/>

                                                <p:outputLabel for="telephone"
                                                               value="เบอร์โทรศัพท์"/>
                                                <p:inputText id="telephone"/>
                                                <p:message for="telephone"/>
                                            </h:panelGrid>
                                        </p:panel>
                                    </p:tab>
                                    <p:tab title="ผู้รับ">
                                        <p:panel header="ผู้รับ">
                                            <p:messages/>
                                            <p:dataTable id="dataTable"
                                                         var="item" value="#{postInputView.items}"
                                                         paginator="true"
                                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                         rows="5"
                                                         rowsPerPageTemplate="5, 10, 15">
                                                <p:column headerText="ลำดับที่">
                                                    <h:outputText value="#{item.id}">
                                                        <f:convertNumber groupingUsed="true"/>
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="รหัสสินค้า">
                                                    <h:outputText value="#{item.code}"/>
                                                </p:column>
                                                <p:column headerText="รายการ">
                                                    <h:outputText value="#{item.description}"/>
                                                </p:column>
                                                <p:column headerText="จำนวน">
                                                    <h:outputText value="#{item.quantity}">
                                                        <f:convertNumber groupingUsed="true"/>
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="ราคา">
                                                    <h:outputText value="#{item.price}">
                                                        <f:convertNumber pattern="#,##0.00"/>
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="ชื่อผู้รับ">
                                                    <h:outputText value="#{item.receiver}"/>
                                                </p:column>
                                                <p:column headerText="ชื่อผู้ส่ง">
                                                    <h:outputText value="#{item.sender}"/>
                                                </p:column>
                                            </p:dataTable>
                                        </p:panel>
                                    </p:tab>
                                    <p:tab title="ชำระเงิน">
                                        <p:panel header="ชำระเงิน">
                                            <p:messages/>
                                        </p:panel>
                                    </p:tab>
                                </p:wizard>
                            </p:tab>
                            <p:tab title="บริการด่วน">

                            </p:tab>
                            <p:tab title="จดหมายลงทะเบียน">

                            </p:tab>
                            <p:tab title="จดหมายระหว่างประเทศ">

                            </p:tab>
                            <p:tab title="ธนาณัติ">

                            </p:tab>
                        </p:tabView>
                    </h:form>
                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
