<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view>
        <h:head>
        </h:head>
        <h:body>
            <ui:composition template="template.xhtml">
                <ui:define name="content">
		    <h:form id="postForm">
			<p:wizard nextLabel="ถัดไป" backLabel="ย้อนกลับ">
			    <p:tab id="sender" title="ผู้ส่ง">
				<p:panel header="ผู้ส่ง">
				    <p:messages />
				    <h:panelGrid columns="2" cellpadding="5">
					<p:outputLabel for="firstName" value="ชื่อ" />
					<p:inputText id="firstName" value="#{postView.post.sender.firstName}" required="true" label="ชื่อ"/>


					<p:outputLabel for="lastName" value="นามสกุล" />
					<p:inputText id="lastName" value="#{postView.post.sender.lastName}" required="true" label="นามสกุล"/>

					<p:outputLabel for="address" value="ที่อยู่" />
					<p:inputText id="address" value="#{postView.post.sender.address}" required="true" label="ที่อยู่"/>

					<p:outputLabel for="province" value="จังหวัด" />
					<p:selectOneMenu id="province" value="#{postView.post.sender.provinceId}" style="width:150px" required="true">
					    <p:ajax listener="#{postView.onProvinceChange(postView.post.sender)}" update="amphure district postcode"/>
					    <f:selectItem itemLabel="เลือกจังหวัด" itemValue="" noSelectionOption="true" />
					    <f:selectItems var="p" value="#{postView.provinceList}"
							   itemLabel="#{p.name}"
							   itemValue="#{p.id}"/>
					</p:selectOneMenu>

					<p:outputLabel for="amphure" value="อำเภอ" />
					<p:selectOneMenu id="amphure" value="#{postView.post.sender.amphureId}" style="width:150px" required="true">
					    <p:ajax listener="#{postView.onAmphureChange(postView.post.sender)}" update="district postcode" />
					    <f:selectItem itemLabel="เลือกอำเภอ" itemValue="" noSelectionOption="true" />
					    <f:selectItems var="a" value="#{postView.amphureList}"
							   itemLabel="#{a.name}"
							   itemValue="#{a.id}" />
					</p:selectOneMenu>

					<p:outputLabel for="district" value="ตำบล" />
					<p:selectOneMenu id="district" value="#{postView.post.sender.districtId}" style="width:150px" required="true">
					    <p:ajax listener="#{postView.onDistrictChange(postView.post.sender)}" update="postcode" />
					    <f:selectItem itemLabel="เลือกตำบล" itemValue="" noSelectionOption="true" />
					    <f:selectItems var="d" value="#{postView.districtList}"
							   itemLabel="#{d.name}"
							   itemValue="#{d.id}"/>
					</p:selectOneMenu>

					<p:outputLabel for="postcode" value="รหัสไปรษณีย์" />
					<p:inputText id="postcode" value="#{postView.post.sender.postcode}" required="true" label="รหัสไปรษณีย์"/>

					<p:outputLabel for="phone" value="เบอร์โทรศัพท์" />
					<p:inputText id="phone" value="#{postView.post.sender.phone}" required="true" label="เบอร์โทรศัพท์"/>
				    </h:panelGrid>
				</p:panel>
			    </p:tab>

			    <p:tab id="service" title="จัดการผู้รับ บริการ และสินค้า">
				<p:panel header="ผู้รับและบริการ">
				    <p:messages />
				    <h:panelGrid columns="1" >
					<p:commandButton value="เพิ่มผู้รับและบริการ" type="button" onclick="PF('serviceDlg').show();" />
					<p:dataTable id="serviceTable" var="serviceItem" value="#{postView.post.postServiceList}" rows="10"
						     paginator="true"
						     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						     rowsPerPageTemplate="5,10,15">
					    <p:column headerText="ผู้รับ">
						<h:outputText value="#{serviceItem.reciver.firstName}" />
					    </p:column>
					    <p:column headerText="นํ้าหนัก">
						<h:outputText value="#{serviceItem.weight}" />
					    </p:column>
					    <!--					    <p:column headerText="ค่าบริการ">
											    <h:outputText value="#{serviceItem.servicePrice}" />
											</p:column>-->
					    <p:column headerText="Action">
						<p:commandButton icon="ui-icon-pencil" value="Edit" title="Edit" update=":serviceForm" actionListener="#{postView.editService(serviceItem)}" oncomplete="PF('serviceDlg').show();"  />
						<p:commandButton icon="ui-icon-trash" value="Delete" title="Delete" update="serviceTable" actionListener="#{postView.deleteService(serviceItem)}"  />
						</p:column>

					</p:dataTable>

				    </h:panelGrid>
				</p:panel>
			    </p:tab>
                            
                            <p:tab id="payment" title="ชำระเงิน">
                                <p:panel header="ชำระเงิน">
				    <h:panelGrid columns="2" cellpadding="5">
                                        <h:outputLabel for="servicePrice" value="ค่าบริการรวม" />
					<p:outputLabel id="servicePrice" value="#{postView.servicePrice}" />
                                        
					<h:outputLabel for="productPrice" value="ค่าสินค้ารวม" />
                                        <p:outputLabel id="productPrice" value="#{postView.productPrice}" />
                                        
                                        <h:outputLabel for="otherPrice" value="ค่าบริการอื่นๆ" />
                                        <p:inputText id="otherPrice" value="#{postView.otherPrice}" label="ค่าบริการอื่นๆ">
                                            <p:ajax event="keyup" update="totalPrice" listener="#{postView.calculateTotalPrice()}" />
                                        </p:inputText>
                                        
                                        <h:outputLabel for="totalPrice" value="ค่าใช้จ่ายรวม" />
                                        <p:outputLabel id="totalPrice" value="#{postView.totalPrice}"/>
                                        
					<f:facet name="footer">
					    <p:commandButton value="บันทึก" update="postForm" actionListener="#{postView.createPost()}" />
					</f:facet> 
				    </h:panelGrid>
				</p:panel>
			    </p:tab>



			</p:wizard>
		    </h:form>


		    <p:dialog header="ผู้รับ บริการและสินค้า" widgetVar="serviceDlg" resizable="false" modal="true" closable="false">

			<h:form id="serviceForm">
			    <h:panelGrid columns="1">

				<p:wizard nextLabel="จัดการสินค้า" backLabel="จัดการบริการ">
				    
				    <p:tab id="service" title="ผู้รับและบริการ">
					<h:panelGrid id="recvierServiceForm" columns="4" cellpadding="5" >

					    <p:outputLabel for="firstName" value="ชื่อ" />
					    <p:inputText id="firstName" value="#{postView.postService.reciver.firstName}" required="true" label="ชื่อ"/>


					    <p:outputLabel for="lastName" value="นามสกุล" />
					    <p:inputText id="lastName" value="#{postView.postService.reciver.lastName}" required="true" label="นามสกุล"/>

					    <p:outputLabel for="address" value="ที่อยู่" />
					    <p:inputText id="address" value="#{postView.postService.reciver.address}" required="true" label="ที่อยู่"/>

					    <p:outputLabel for="province" value="จังหวัด" />
					    <p:selectOneMenu id="province" value="#{postView.postService.reciver.provinceId}" style="width:150px" required="true">
						<p:ajax listener="#{postView.onProvinceChange(postView.postService.reciver)}" update="amphure district postcode" />
						<f:selectItem itemLabel="เลือกจังหวัด" itemValue="" noSelectionOption="true" />
						<f:selectItems var="p" value="#{postView.provinceList}"
							       itemLabel="#{p.name}"
							       itemValue="#{p.id}"/>
					    </p:selectOneMenu>

					    <p:outputLabel for="amphure" value="อำเภอ" />
					    <p:selectOneMenu id="amphure" value="#{postView.postService.reciver.amphureId}" style="width:150px" required="true">
						<p:ajax listener="#{postView.onAmphureChange(postView.postService.reciver)}" update="district postcode" />
						<f:selectItem itemLabel="เลือกอำเภอ" itemValue="" noSelectionOption="true" />
						<f:selectItems var="a" value="#{postView.amphureList}"
							       itemLabel="#{a.name}"
							       itemValue="#{a.id}" />
					    </p:selectOneMenu>

					    <p:outputLabel for="district" value="ตำบล" />
					    <p:selectOneMenu id="district" value="#{postView.postService.reciver.districtId}" style="width:150px" required="true">
						<p:ajax listener="#{postView.onDistrictChange(postView.postService.reciver)}" update="postcode" />
						<f:selectItem itemLabel="เลือกตำบล" itemValue="" noSelectionOption="true" />
						<f:selectItems var="d" value="#{postView.districtList}"
							       itemLabel="#{d.name}"
							       itemValue="#{d.id}"/>
					    </p:selectOneMenu>

					    <p:outputLabel for="postcode" value="รหัสไปรษณีย์" />
					    <p:inputText id="postcode" value="#{postView.postService.reciver.postcode}" required="true" label="รหัสไปรษณีย์"/>

					    <p:outputLabel for="phone" value="เบอร์โทรศัพท์" />
					    <p:inputText id="phone" value="#{postView.postService.reciver.phone}" required="true" label="เบอร์โทรศัพท์"/>

					    <p:outputLabel for="weight" value="น้ำหนัก" />
					    <p:inputText id="weight" value="#{postView.postService.weight}" label="น้ำหนัก">
						<p:ajax event="keyup"  listener="#{postView.weightChange}" />
					    </p:inputText>

					    <p:outputLabel for="selectedService" value="บริการ" />
					    <p:selectOneMenu id="selectedService" value="#{postView.postService.serviceId}" style="width:150px">
						<p:ajax listener="#{postView.onServiceChange()}" />
						<f:selectItem itemLabel="เลือกบริการ" itemValue="" noSelectionOption="true" />
						<f:selectItems var="sv" value="#{postView.serviceList}"
							       itemLabel="#{sv.serviceName}"
							       itemValue="#{sv.serviceId}"/>
					    </p:selectOneMenu>

<!--					    <p:outputLabel for="serviceFee" value="ค่าบริการ" />
					    <p:inputText id="serviceFee" value="#{postView.servicePrice}" label="ค่าบริการ"/>-->


					</h:panelGrid>
				    </p:tab>
				    <p:tab id="product" title="สินค้า">
					<h:panelGrid columns="1" >
					    <h:panelGrid columns="7" >
						<p:outputLabel for="selectedProductCategory" value="หมวดสินค้า" />
						<p:selectOneMenu id="selectedProductCategory" value="#{postView.categoryId}" style="width:150px">
						    <p:ajax listener="#{postView.onProductCategoryChange()}" update="selectedProduct"/>
						    <f:selectItem itemLabel="เลือกหมวดสินค้า" itemValue="" noSelectionOption="true" />
						    <f:selectItems var="pc" value="#{postView.productCategoryList}"
								   itemLabel="#{pc.productCategoryName}"
								   itemValue="#{pc.productCategoryId}"/>
						</p:selectOneMenu>
						<p:outputLabel for="selectedProduct" value="สินค้า" />
						<p:selectOneMenu id="selectedProduct" value="#{postView.postProduct.productId}" style="width:150px">
						    <p:ajax listener="#{postView.onServiceChange()}" />
						    <f:selectItem itemLabel="เลือกสินค้า" itemValue="" noSelectionOption="true" />
						    <f:selectItems var="pd" value="#{postView.productList}"
								   itemLabel="#{pd.productName}"
								   itemValue="#{pd.productId}"/>
						</p:selectOneMenu>
						<p:outputLabel for="amount" value="จำนวน" />
						<p:inputText id="amount" value="#{postView.postProduct.amount}" required="true" />
						<p:commandButton value="บันทึก" update=":serviceForm productTable" actionListener="#{postView.addProduct()}" />

					    </h:panelGrid>

					    <p:dataTable id="productTable" var="postProduct" value="#{postView.postService.postProducts}" rows="10"
							 paginator="true"
							 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							 rowsPerPageTemplate="5,10,15">
						<p:column headerText="สินค้า">
						    <h:outputText value="#{postView.getProductName(postProduct.productId)}" />
						</p:column>
						<p:column headerText="จำนวน">
						    <h:outputText value="#{postProduct.amount}" />
						</p:column>

						<p:column headerText="Action">
						    <p:commandButton icon="ui-icon-trash" value="Delete" title="Delete" update=":serviceForm" actionListener="#{postView.deleteProduct(postProduct)}"  />
						</p:column>

					    </p:dataTable>

					</h:panelGrid>

				    </p:tab>
				</p:wizard>
				<f:facet name="footer">
				    <p:commandButton value="บันทึก" update=":serviceForm :postForm :postForm:serviceTable" actionListener="#{postView.addService()}"  oncomplete="PF('serviceDlg').hide();"/>
				    <p:commandButton process="@this" value="ยกเลิก" update=":serviceForm" actionListener="#{postView.handleDialogClose}" oncomplete="PF('serviceDlg').hide();"/>
				</f:facet>
			    </h:panelGrid>
			</h:form>
		    </p:dialog>

                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
