<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:view>
        <h:head>
            <!--
            create by pradoem
            
           <h:outputStylesheet name="css/bootstrap.css" />
            <h:outputStylesheet name="css/bootstrap.min.css" />
            -->
        </h:head>
        <h:body >
            <ui:composition template="template.xhtml">
                <ui:define name="content">
		    <h:form id="areaTypeForm">
                        
				<p:panel header="ประเภทพื้นที่การส่ง">
                        
				    <p:messages />
				    <h:panelGrid columns="1" >
					<p:commandButton value="เพิ่มประเภทพื้นที่การส่ง"  actionListener="#{postMstAreaTypeView.doAddForm}"   update="mstAreaTypeForm"  oncomplete="PF('dlg').show();" />

                                                                                <p:dataTable id="tbAreaType" var="typeItems" value="#{postMstAreaTypeView.listMstAreaType}" rows="10"
						     paginator="true"
						     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						     rowsPerPageTemplate="5,10,15">
					  
                                                                                    <p:column headerText="ลำดับ"  width="50">
                                                                                    <h:outputText value="#{typeItems.areaTypeId}"   style="center" />
                                                                                </p:column>
                                                                                    <p:column headerText="รหัสพื้นที่">
                                                                                        <h:outputText value="#{typeItems.areaTypeCode}" />
					    </p:column>
					    <p:column headerText="ชื่อภาษาไทย">
                                                                                            <h:outputText value="#{typeItems.areaTypeDescTH}" />
					    </p:column>
					    <p:column headerText="ชื่อภาษาอังกฤษ">
                                                                                             <h:outputText value="#{typeItems.areaTypeDescEN}" />
					    </p:column>
					    <p:column headerText="สถานะ">
                                                                                    
                                                                                    <h:outputText value="#{typeItems.isActive eq 0 ? 'ไม่ใช้งาน' : 'ใช้งาน'}" />                        
                                                                                     
					    </p:column>
					    <p:column headerText="Action">
                                                                                                  <p:commandButton icon="ui-icon-pencil" value="Edit" title="Edit" actionListener="#{postMstAreaTypeView.doEditAction(typeItems.areaTypeId)}" update="mstAreaTypeForm"  oncomplete="PF('dlg').show();"  />
						<p:commandButton icon="ui-icon-trash" value="Delete" title="Delete" actionListener="#{postMstAreaTypeView.doDeleteAction(typeItems.areaTypeId)}" update="areaTypeForm"    />
					    </p:column>
					</p:dataTable>

				    </h:panelGrid>
                                    
				</p:panel>
                                    
		    </h:form>
                                     <h:form id="mstAreaTypeForm">
			<p:dialog header="ประเภทพื้นที่การส่ง" widgetVar="dlg" resizable="false" modal="true" closable="true"  width="500" height="300">
			    <h:panelGrid columns="2" cellpadding="5" onkeypress="if (event.keyCode == 13) {
					return false;
				    }" >

                                                                  <h:outputLabel for="areaTypeCode" value="รหัสพื้นที่ :" />
                                                                   <p:inputText value="#{postMstAreaTypeView.areaTypeCode}" required="true" label="รหัสพื้นที่"/>
                                                                   
                                                                   <h:outputLabel for="areaTypeDescTH" value="ชื่อภาษาไทย :" />
                                                                   <p:inputText value="#{postMstAreaTypeView.areaTypeDescTH}" required="true" label="ชื่อภาษาไทย"/>
                                                                   
                                                                  <h:outputLabel for="areaTypeDescEN" value="ชื่อภาษาอังกฤษ:" />
                                                                   <p:inputText value="#{postMstAreaTypeView.areaTypeDescEN}"  label="ชื่อภาษาอังกฤษ"/>
                                                                   
                                            
                                                                       <h:outputLabel for="isActive" value="ใช้งาน :" />
                                                                       <h:selectOneRadio id="isActive" value="#{postMstAreaTypeView.isActive}" required="true"  label="การใช้งาน">
                                                                           <f:selectItem itemLabel="ใช้งาน" itemValue="1" />
                                                                           <f:selectItem itemLabel="ไม่ใช้งาน" itemValue="0" />
                                                                       </h:selectOneRadio>
               

				<f:facet name="footer">
                                                                <p:commandButton value="บันทึก" type="submit"  actionListener="#{postMstAreaTypeView.doSaveAction}" update="areaTypeForm" oncomplete="PF('dlg').hide();" />
				    <p:commandButton process="@this" value="ยกเลิก" actionListener="#{postMstAreaTypeView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
				</f:facet>  
                                                            
                                                                       <h:inputHidden value="#{postMstAreaTypeView.areaTypeId}" id="areaTypeId" />
			    </h:panelGrid>
			</p:dialog>

		    </h:form>

                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
                     
