<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:view>
        <h:head>
            <!--
            create by pradoem
            
           <h:outputStylesheet name="css/bootstrap.css" />
            <h:outputStylesheet name="css/bootstrap.min.css" />
            -->
        </h:head>
        <h:body >
            <ui:composition template="template.xhtml">
                <ui:define name="content">
		    <h:form id="deliveryTypeListForm">
                        
				<p:panel header="ประเภทการส่ง">
                        
				    <p:messages />
				    <h:panelGrid columns="1" >
                                                                              <p:commandButton value="เพิ่มประเภทการส่ง"  actionListener="#{postMstDeliveryTypeView.doAddForm}"   update="deliveryTypeForm"  oncomplete="PF('dlg').show();" />
                                                                                <p:dataTable id="tbDeliveryType" var="deliveryItems" value="#{postMstDeliveryTypeView.listMstDeliveryType}" rows="10"
						     paginator="true"
						     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						     rowsPerPageTemplate="5,10,15">
					  
                                                                                    <p:column headerText="ลำดับ"  width="50">
                                                                                        <h:outputText value="#{deliveryItems.deliveryTypeId}"   style="center" />
                                                                                </p:column>
                                                                                    <p:column headerText="รหัสประเภทการส่ง">
                                                                                        <h:outputText value="#{deliveryItems.deliveryTypeCode}" />
					    </p:column>
					    <p:column headerText="ชื่อภาษาไทย">
                                                                                    <h:outputText value="#{deliveryItems.deliveryTypeDescTH}" />
					    </p:column>
					    <p:column headerText="ชื่อภาษาอังกฤษ">
                                                                                     <h:outputText value="#{deliveryItems.deliveryTypeDescEN}" />
					    </p:column>
					    <p:column headerText="สถานะ"> 
                                                                                    <h:outputText value="#{deliveryItems.isActive eq 0 ? 'ไม่ใช้งาน' : 'ใช้งาน'}" />                                                                                                           
					    </p:column>
					    <p:column headerText="Action">
                                                                                                <p:commandButton icon="ui-icon-pencil" value="Edit" title="Edit" actionListener="#{postMstDeliveryTypeView.doEditAction(deliveryItems.deliveryTypeId)}" update="deliveryTypeForm"  oncomplete="PF('dlg').show();"  />
						<p:commandButton icon="ui-icon-trash" value="Delete" title="Delete" actionListener="#{postMstDeliveryTypeView.doDeleteAction(deliveryItems.deliveryTypeId)}" update="deliveryTypeListForm"    />
					    </p:column>
					</p:dataTable>

				    </h:panelGrid>
                                    
				</p:panel>
                                    
		    </h:form>
                                     <h:form id="deliveryTypeForm">
			<p:dialog header="ประเภทการส่ง" widgetVar="dlg" resizable="false" modal="true" closable="true"  width="500" height="300">
			    <h:panelGrid columns="2" cellpadding="5" onkeypress="if (event.keyCode == 13) {
					return false;
				    }" >

                                                                  <h:outputLabel for="deliveryTypeCode" value="รหัสประเภทการส่ง:" />
                                                                  <p:inputText value="#{postMstDeliveryTypeView.deliveryTypeCode}" required="true" label="รหัสประเภทการส่ง"/>
                                                                   
                                                                   <h:outputLabel for="deliveryTypeDescTH" value="ชื่อภาษาไทย :" />
                                                                   <p:inputText value="#{postMstDeliveryTypeView.deliveryTypeDescTH}" required="true" label="ชื่อภาษาไทย"/>
                                                                   
                                                                  <h:outputLabel for="deliveryTypeDescEN" value="ชื่อภาษาอังกฤษ:" />
                                                                  <p:inputText value="#{postMstDeliveryTypeView.deliveryTypeDescEN}"  label="ชื่อภาษาอังกฤษ"/>
                                                                   
                                            
                                                                       <h:outputLabel for="isActive" value="ใช้งาน :" />
                                                                       <h:selectOneRadio id="isActive" value="#{postMstDeliveryTypeView.isActive}" required="true" label="การใช้งาน">
                                                                           <f:selectItem itemLabel="ใช้งาน" itemValue="1" />
                                                                           <f:selectItem itemLabel="ไม่ใช้งาน" itemValue="0" />
                                                                       </h:selectOneRadio>
               

				<f:facet name="footer">
                                                                <p:commandButton value="บันทึก" type="submit"  actionListener="#{postMstDeliveryTypeView.doSaveAction}" update="deliveryTypeListForm" oncomplete="PF('dlg').hide();" />
				    <p:commandButton process="@this" value="ยกเลิก" actionListener="#{postMstDeliveryTypeView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
				</f:facet>  
                                                            
                                                                       <h:inputHidden value="#{postMstDeliveryTypeView.deliveryTypeId}" id="deliveryTypeId" />
			    </h:panelGrid>
			</p:dialog>

		    </h:form>

                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
                     
