<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:view>
        <h:head>
            <!--
            create by pradoem
            
           <h:outputStylesheet name="css/bootstrap.css" />
            <h:outputStylesheet name="css/bootstrap.min.css" />
                              if(true==param){
                      for(i=1;i<=4;i++){
                          document.getElementById("txt"+i).disabled=false;
                      }
                }else{
                      for(i=1;i<=4;i++){
                         document.getElementById("txt"+i).disabled=true;
                    }  
                     }   
            -->
            <script type="text/javascript">
                 function doChkEdit(param){
                   // $("#companyForm:txt1").prop('disabled',true); 
                  // var $element3 = $("#companyForm\\:txt1");
                 //  alert($element3.toString());
                 //   document.getElementById("companyForm:txt1").disabled=true;
                 // jQuery(document).ready(function($) {
	 //alert('ddddddd'+ $('#companyForm:txt1').val());			
                 //  });
                 
                   // if(true==param){
                  //      alert("test");
                  //         $("#companyForm:txt1").prop('disabled',fasle);
                  //  }else{
                  //       alert("xxx");
                  //         $("#companyForm:txt1").prop('disabled',true);
                  //  }     
                }
            </script> 
        </h:head>
        <h:body >
            <ui:composition template="template.xhtml">
                <ui:define name="content">
                        <h:form id="companyForm">
		   <p:panel header="ข้อมูลร้าน">
                    	    <p:messages />
                            <h:panelGrid columns="2" >
                                
                                      <h:outputText value="ต้องการแก้ไข " />
                                      <h:selectBooleanCheckbox value="1" id="chkEdit" onclick="doChkEdit(this.checked);" />
                                      
                                      <h:outputLabel for="companyCode" value="รหัสร้าน : " />
                                      <p:inputText value="#{postMstCompanyView.postMstCompanyObj.companyCode}"    required="true" label="ชื่อร้าน"/>

                                      <h:outputLabel for="companyCode" value="ชื่อร้าน : " />
                                      <p:inputText value="#{postMstCompanyView.postMstCompanyObj.companyName}"     required="true" label="ชื่อร้าน"/>

                                      <h:outputLabel for="companyAddress" value="ที่อยู่ร้าน :" />
                                      <p:inputTextarea  value="#{postMstCompanyView.postMstCompanyObj.companyAddress}"  autoResize="false"   required="true" label="ที่อยู่ร้าน"  rows="4" cols="33" />

                                       <h:outputLabel for="companyContact" value="ผู้จัดการ :" />
                                       <p:inputText value="#{postMstCompanyView.postMstCompanyObj.companyContact}"    size="35"  label="ผู้จัดการ"/>

                                       
                                       <h:outputLabel for="companyPhone" value="เบอร์โทรศัพท์ :" />
                                       <p:inputText value="#{postMstCompanyView.postMstCompanyObj.companyPhone}"   size="35"   label="เบอร์โทรศัพท์"/>
        
                                       <h:outputLabel for="companyFax" value="เบอร์แฟ็กซ์ :" />
                                       <p:inputText value="#{postMstCompanyView.postMstCompanyObj.companyFax}"   size="35"  label="เบอร์แฟ็กซ์"/>
                                          
                                       <h:outputLabel for="companyOpen1" value="วันทำการ1 :" />
                                       <p:inputText value="#{postMstCompanyView.postMstCompanyObj.companyOpen1}"  size="35"  label="วันทำการ1"/>
         
                                       <h:outputLabel for="companyOpen2" value="วันทำการ2 :" />
                                       <p:inputText value="#{postMstCompanyView.postMstCompanyObj.companyOpen2}"  size="35"  label="วันทำการ2"/>
                                       
                                                
                                       <h:outputLabel for="remark" value="หมายเหตุ :" />
                                       <p:inputTextarea  value="#{postMstCompanyView.postMstCompanyObj.remark}"  autoResize="false"  label="หมายเหตุ"  rows="3" cols="33" />
                                       


                                    <f:facet name="footer">
                                        <p:commandButton value="บันทึก" type="submit"  actionListener="#{postMstCompanyView.doSaveAction}" update="companyForm"  oncomplete="PF('dlg').hide();" />
                                        <p:commandButton process="@this" value="ยกเลิก" actionListener="#{postMstCompanyView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
                                    </f:facet>  
                                     <h:inputHidden value="#{postMstCompanyView.postMstCompanyObj.companyCode}" id="deliveryTypeId" />
		 </h:panelGrid>
                                    
		</p:panel>
                                    
		    </h:form>
                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
                     
