<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:view>
        <h:head>
            <!--
            create by pradoem
            
           <h:outputStylesheet name="css/bootstrap.css" />
            <h:outputStylesheet name="css/bootstrap.min.css" />
            -->
        </h:head>
        <h:body >
            <ui:composition template="template.xhtml">
                <ui:define name="content">
		    <h:form id="postServiceFeeListForm">
                        
				<p:panel header=" ค่าธรรมเนียมบริการ ">
                        
				    <p:messages />
				    <h:panelGrid columns="1" >
                                                                              <p:commandButton value="เพิ่มค่าธรรมเนียมบริการ"  actionListener="#{postMstServiceFeeView.doAddForm}"   update="postServiceFeeForm"  oncomplete="PF('dlg').show();" />
                                                                              <p:dataTable id="tbPostServiceFee"   var="postServiceFeeItems" value="#{postMstServiceFeeView.listPostMstServiceFee}" rows="10"
						     paginator="true"
						     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						     rowsPerPageTemplate="5,10,15">
					  
                                                                                  <p:column headerText="รหัส" >
                                                                                      <h:outputText value="#{postServiceFeeItems.postServiceFeeId}" />
					    </p:column>
                                                                                  
					    <p:column headerText="ประเภทบริการสินค้า">
                                                                                      <h:outputText value="#{postServiceFeeItems.productTypeName}" />
					    </p:column>
                                                                                  
                                                                                  <p:column headerText="ประเภทการส่ง">
                                                                                      <h:outputText value="#{postServiceFeeItems.deliveryTypeName}" />
					    </p:column>
                                                                                  
					    <p:column headerText="น้ำหนักต้นทาง">
                                                                                   <h:outputText value="#{postServiceFeeItems.weightFrom}" />
					    </p:column>
                                                                                      
					    <p:column headerText="น้ำหนักปลายทาง">
                                                                                   <h:outputText value="#{postServiceFeeItems.weightTo}" />
					    </p:column>
                                                                              
					    <p:column headerText="ราคาการส่ง">
                                                                                    <h:outputText value="#{postServiceFeeItems.postFee}" />
					    </p:column>
                                                                                  
                                                                                  <p:column headerText="ค่าบริการ">
                                                                                      <h:outputText value="#{postServiceFeeItems.serviceFee}" />
					    </p:column>
                                                                                  
                                                                                  <p:column headerText="สถานะ"> 
                                                                                    <h:outputText value="#{postServiceFeeItems.isActive eq 0 ? 'ไม่ใช้งาน' : 'ใช้งาน'}" />                                                                                                           
					    </p:column>

					    <p:column headerText="Action">
                                                                                  <p:commandButton icon="ui-icon-pencil" value="Edit" title="Edit" actionListener="#{postMstServiceFeeView.doEditAction(postServiceFeeItems.postServiceFeeId)}" update="postServiceFeeForm"  oncomplete="PF('dlg').show();"  />
                                                                                  <p:commandButton icon="ui-icon-trash" value="Delete" title="Delete" actionListener="#{postMstServiceFeeView.doDeleteAction(postServiceFeeItems.postServiceFeeId)}" update="postServiceFeeListForm"    />
					    </p:column>
					</p:dataTable>

				    </h:panelGrid>
                                    
				</p:panel>
                                    
		    </h:form>
                                     <h:form id="postServiceFeeForm">
			<p:dialog header=" ค่าธรรมเนียมบริการ " widgetVar="dlg" resizable="false" modal="true" closable="true"  width="540" height="460">
			    <h:panelGrid columns="2" cellpadding="5" onkeypress="if (event.keyCode == 13) {
					return false;
				    }" >

                                                                 <h:outputLabel for="productTypeCode" value="ประเภทบริการสินค้า :" />
                                                                 <p:selectOneMenu id="productTypeCode" label="ประเภทบริการสินค้า" value="#{postMstServiceFeeView.postMstServiceFeeObj.productTypeCode}" style="width:250px"   required="true">
                                                                    <f:selectItem itemLabel="--- ประเภทบริการสินค้า ----" itemValue=""  noSelectionOption="true" />
                                                                    <f:selectItems value="#{postMstServiceFeeView.productTypeDDL}" />
                                                                </p:selectOneMenu>

                                                                 <h:outputLabel for="deliveryTypeCode" value="ประเภทการส่ง :" />
                                                                 <p:selectOneMenu id="deliveryTypeCode" label="ประเภทการส่ง" value="#{postMstServiceFeeView.postMstServiceFeeObj.deliveryTypeCode}" style="width:250px"   required="true">
                                                                    <f:selectItem itemLabel="--- ประเภทการส่ง ----" itemValue=""  noSelectionOption="true" />
                                                                    <f:selectItems value="#{postMstServiceFeeView.deliveryTypeDDL}" />
                                                                </p:selectOneMenu>
                                 
                                                                   <h:outputLabel for="weightFrom" value="น้ำหนักต้นทาง" />
                                                                   <p:inputText value="#{postMstServiceFeeView.postMstServiceFeeObj.weightFrom}"    label="น้ำหนักต้นทาง"  required="true" />
      
                                                                    <h:outputLabel for="weightTo" value="น้ำหนักปลายทาง" />
                                                                    <p:inputText value="#{postMstServiceFeeView.postMstServiceFeeObj.weightTo}"    label="น้ำหนักปลายทาง" required="true" />

                                                                   <h:outputLabel for="postFee" value="ราคาการส่ง" />
                                                                   <p:inputText value="#{postMstServiceFeeView.postMstServiceFeeObj.postFee}"    label="ราคาการส่ง" required="true"/>
                                                                   
                                                                    <h:outputLabel for="serviceFee" value="ค่าบริการ" />
                                                                    <p:inputText value="#{postMstServiceFeeView.postMstServiceFeeObj.serviceFee}"   label="ค่าบริการ" />

                                                                    <h:outputLabel for="isActive" value="ใช้งาน :" />
                                                                    <h:selectOneRadio id="isActive" value="#{postMstServiceFeeView.postMstServiceFeeObj.isActive}"  label="การใช้งาน" required="true">
                                                                           <f:selectItem itemLabel="ใช้งาน" itemValue="1" />
                                                                           <f:selectItem itemLabel="ไม่ใช้งาน" itemValue="0" />
                                                                     </h:selectOneRadio>
        
        
				<f:facet name="footer">
                                                                <p:commandButton value="บันทึก" type="submit"  actionListener="#{postMstServiceFeeView.doSaveAction}" update="postServiceFeeListForm" oncomplete="PF('dlg').hide();" />
				    <p:commandButton process="@this" value="ยกเลิก" actionListener="#{postMstServiceFeeView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
				</f:facet>  
                                                            
                                                                    <h:inputHidden value="#{postMstServiceFeeView.postMstServiceFeeObj.postServiceFeeId}" id="postServiceFeeId" />
			    </h:panelGrid>
			</p:dialog>

		    </h:form>

                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
                     
