<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view>
        <h:head>
        </h:head>
        <h:body>
            <ui:composition template="template.xhtml">
                <ui:define name="content">

		    <p:growl id="msgs" sticky="true" showDetail="true"/>
		    <p:tabView id="tab">
			<p:tab title="ขายสินค้า">

			    <h:form id="productForm">
				<h:panelGrid columns="1" >
				    <h:panelGrid columns="4" >
					<h:outputLabel for="firstName" value="ชื่อ" />
					<p:inputText id="firstName" value="#{productTxView.productTx.firstName}" required="true"/>

					<h:outputLabel for="lastName" value="นามสกุล" />
					<p:inputText id="lastName" value="#{productTxView.productTx.lastName}" required="true"/>

					<h:outputLabel for="phone" value="เบอร์โทรศัพท์" />
					<p:inputText id="phone" value="#{productTxView.productTx.phone}" required="true"/>

					<h:outputLabel for="totalPrice" value="รวมค่าสินค้า" />
					<p:outputLabel id="totalPrice" value="#{productTxView.productTx.totalPrice}" />

				    </h:panelGrid>
				    <h:panelGrid columns="7" >
					<p:outputLabel for="selectedProductCategory" value="หมวดสินค้า" />
					<p:selectOneMenu id="selectedProductCategory" value="#{productTxView.categoryId}" style="width:150px">
					    <p:ajax listener="#{productTxView.onProductCategoryChange()}" update="selectedProduct"/>
					    <f:selectItem itemLabel="เลือกหมวดสินค้า" itemValue="" noSelectionOption="true" />
					    <f:selectItems var="pc" value="#{productTxView.productCategoryList}"
							   itemLabel="#{pc.productCategoryName}"
							   itemValue="#{pc.productCategoryId}"/>
					</p:selectOneMenu>
					<p:outputLabel for="selectedProduct" value="สินค้า" />
					<p:selectOneMenu id="selectedProduct" value="#{productTxView.productTxItem.productId}" style="width:150px">
					    <f:selectItem itemLabel="เลือกสินค้า" itemValue="" noSelectionOption="true" />
					    <f:selectItems var="pd" value="#{productTxView.productList}"
							   itemLabel="#{pd.productName}"
							   itemValue="#{pd.productId}"/>
					</p:selectOneMenu>
					<p:outputLabel for="amount" value="จำนวน" />
					<p:inputText id="amount" value="#{productTxView.productTxItem.amount}" required="true" />
					<p:commandButton process="@this,selectedProduct,amount" value="เพิ่มสินค้า" update="productForm:totalPrice itemTable" actionListener="#{productTxView.addItem()}" />
					<p:commandButton value="บันทึก" update="productForm" actionListener="#{productTxView.createProductTx()}"/>
					<p:commandButton process="@this" value="ยกเลิก" update="productForm" actionListener="#{productTxView.handleDialogClose}"/>
				    </h:panelGrid>

				    <p:dataTable id="itemTable" var="item" widgetVar="itemTable" value="#{productTxView.productTx.itemList}" rows="10"
						 paginator="true"
						 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 rowsPerPageTemplate="5,10,15">

					<p:column headerText="สินค้า">
					    <h:outputText value="#{postView.getProductName(item.productId)}" />
					</p:column>
					<p:column headerText="จำนวน">
					    <h:outputText value="#{item.amount}" />
					</p:column>

					<p:column headerText="ราคา(ชิ้น) x จำนวน">
					    <h:outputText value="#{productTxView.calculateProductPrice(item)}" />
					</p:column>

					<p:column headerText="Action">
					    <p:commandButton process="@this" icon="ui-icon-trash" value="Delete" title="Delete" update="itemTable" actionListener="#{productTxView.deletItem(item)}"  />
					</p:column>
				    </p:dataTable>
				</h:panelGrid>
			    </h:form>
			</p:tab>
		    </p:tabView>



                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
