<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view>
        <h:head>
        </h:head>
        <h:body>
            <ui:composition template="template.xhtml">
                <ui:define name="content">
                    <h:form id="productForm">

                        <p:growl id="msgs" sticky="true" showDetail="true"/>

                        <p:tabView id="tab">
<!--			    <p:tab title="การจัดการสินค้า">
				<h:panelGrid columns="1" >
				    <p:commandButton value="เพิ่มสต็อกสินค้า" type="button" onclick="PF('productStockDlg').show();" />

				    <p:dataTable id="" var="productStock" widgetVar="stockTable" value="#{stockMstProductView.productStockList}" rows="10"
						 paginator="true"
						 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 rowsPerPageTemplate="5,10,15">

					<f:facet name="header">
					    <p:outputPanel>
						<h:outputText value="Search all fields:" />
						<p:inputText id="globalFilter" onkeyup="PF('stockTable').filter()" style="width:150px" placeholder="Enter keyword"/>
					    </p:outputPanel>
					</f:facet>

					<p:column filterBy="#{productStock.productStockCode}" headerText="รหัสสต็อกสินค้า">
					    <h:outputText value="#{productStock.productStockCode}" />
					</p:column>
					<p:column filterBy="#{productStock.productStockName}" headerText="ชื่อสต็อกสินค้า">
					    <h:outputText value="#{productStock.productStockName}(#{stockMstProductView.findProductItem(productStock.productId)})" />
					</p:column>
					<p:column headerText="ราคาต้นทุน">
					    <h:outputText value="#{productStock.cost}" />
					</p:column>
					<p:column headerText="ราคาขาย">
					    <h:outputText value="#{productStock.price}" />
					</p:column>
					<p:column headerText="สถานะ">
					    <h:outputText value="#{productStock.isActive}" />
					</p:column>
					<p:column headerText="Action">
					    <p:commandButton icon="ui-icon-pencil" value="Edit" title="Edit" update="" actionListener="#{stockMstProductView.editObj(productStock)}" oncomplete="PF('updateProductStockDlg').show();" />
					    <p:commandButton icon="ui-icon-trash" value="Delete" title="Delete" update=":productForm:tab:" actionListener="#{stockMstProductView.deleteObj(productStock)}" />
					</p:column>
				    </p:dataTable>
				</h:panelGrid>
			    </p:tab>-->
                            <p:tab title="สินค้า">
                                <h:panelGrid columns="1" >
                                    <p:commandButton value="เพิ่มสินค้า" type="button" onclick="PF('productItemDlg').show();" />

                                    <p:dataTable id="productItemTable" var="productItem" widgetVar="itemTable" value="#{stockMstProductView.productItemList}" rows="10"
                                                 paginator="true"
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 rowsPerPageTemplate="5,10,15">
                                        <f:facet name="header">
                                            <p:outputPanel>
                                                <h:outputText value="Search all fields:" />
                                                <p:inputText id="globalFilter" onkeyup="PF('itemTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                            </p:outputPanel>
                                        </f:facet>

                                        <p:column filterBy="#{productItem.productCode}" headerText="รหัสสินค้า">
                                            <h:outputText value="#{productItem.productCode}" />
                                        </p:column>
                                        <p:column filterBy="#{productItem.productName}" headerText="ชื่อสินค้า">
                                            <h:outputText value="#{productItem.productName}" />
                                        </p:column>
                                        <p:column filterBy="#{productItem.productUnit}" headerText="หน่วย">
                                            <h:outputText value="#{productItem.productUnit}" />
                                        </p:column>
                                        <p:column headerText="จำนวน">
                                            <h:outputText value="#{productItem.amount}" />
                                        </p:column>
                                        <p:column headerText="หมวดสินค้า">
                                            <h:outputText value="#{stockMstProductView.findProductCategory(productItem.productCategoryId)}" />
                                        </p:column>
                                        <p:column headerText="ราคาต้นทุน">
                                            <h:outputText value="#{productItem.cost}" />
                                        </p:column>
                                        <p:column headerText="ราคาขาย">
                                            <h:outputText value="#{productItem.price}" />
                                        </p:column>
                                        <p:column headerText="สถานะ">
                                            <h:outputText value="#{productItem.isActive}" />
                                        </p:column>
                                        <p:column headerText="Action">
                                            <p:commandButton icon="ui-icon-pencil" value="Edit" title="Edit" update=":updateProductItemForm" actionListener="#{stockMstProductView.editObj(productItem)}" oncomplete="PF('updateProductItemDlg').show();"/>
                                            <p:commandButton icon="ui-icon-trash" value="Delete" title="Delete" update=":productForm:tab:productItemTable  " actionListener="#{stockMstProductView.deleteObj(productItem)}" />
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGrid>
                            </p:tab>
                            <p:tab title="หมวดสินค้า">
                                <h:panelGrid columns="1" >
                                    <p:commandButton value="เพิ่มหมวดสินค้า" type="button"  onclick="PF('productCategoryDlg').show();" />

                                    <p:dataTable id="productCategoryTable" var="productCategory" widgetVar="catTable" value="#{stockMstProductView.productCategoryList}" rows="10"
                                                 paginator="true"
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 rowsPerPageTemplate="5,10,15">
                                        <f:facet name="header">
                                            <p:outputPanel>
                                                <h:outputText value="Search all fields:" />
                                                <p:inputText id="globalFilter" onkeyup="PF('catTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                            </p:outputPanel>
                                        </f:facet>

                                        <p:column filterBy="#{productCategory.productCategoryCode}" headerText="รหัสหมวดสินค้า">
                                            <h:outputText value="#{productCategory.productCategoryCode}"/>
                                        </p:column>
                                        <p:column filterBy="#{productCategory.productCategoryName}" headerText="ชื่อหมวดสินค้า">
                                            <h:outputText value="#{productCategory.productCategoryName}" />
                                        </p:column>
                                        <p:column headerText="สถานะ">
                                            <h:outputText value="#{productCategory.isActive}" />
                                        </p:column>
                                        <p:column headerText="Action">
                                            <p:commandButton icon="ui-icon-pencil" value="Edit" title="Edit" update=":updateProductCategoryForm" actionListener="#{stockMstProductView.editObj(productCategory)}" oncomplete="PF('updateProductCategoryDlg').show();"/>
                                            <p:commandButton icon="ui-icon-trash" value="Delete" title="Delete" update=":productForm:tab:productCategoryTable :productItemForm :updateProductItemForm" actionListener="#{stockMstProductView.deleteObj(productCategory)}" />
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGrid>
                            </p:tab>
                        </p:tabView>

                    </h:form>

                    <p:dialog header="สินค้า" widgetVar="productItemDlg" resizable="false" modal="true" closable="false">
                        <h:form id="productItemForm">
                            <h:panelGrid columns="3" cellpadding="5">

                                <h:outputLabel for="code" value="รหัสสินค้า" />
                                <p:inputText id="code" value="#{stockMstProductView.productItem.productCode}" required="true" />
                                <p:message for="code"/>

                                <h:outputLabel for="name" value="ชื่อสินค้า" />
                                <p:inputText id="name" value="#{stockMstProductView.productItem.productName}" required="true"/>
                                <p:message for="name"/>

                                <h:outputLabel for="unit" value="หน่วย" />
                                <p:inputText id="unit" value="#{stockMstProductView.productItem.productUnit}" required="true"/>
                                <p:message for="unit"/>

                                <h:outputLabel for="amount" value="จำนวน" />
                                <p:inputText id="amount" value="#{stockMstProductView.productItem.amount}" required="true"/>
                                <p:message for="amount"/>

                                <p:outputLabel for="productCategory"
                                               value="หมวดสินค้า"/>
                                <p:selectOneMenu id="productCategory" value="#{stockMstProductView.productItem.productCategoryId}">
                                    <f:selectItems var="pc" value="#{stockMstProductView.productCategoryList}"
                                                   itemLabel="#{pc.productCategoryName}"
                                                   itemValue="#{pc.productCategoryId}"/>
                                </p:selectOneMenu>
                                <p:message for="productCategory"/>

                                <h:outputLabel for="cost" value="ราคาทุน" />
                                <p:inputText id="cost" value="#{stockMstProductView.productItem.cost}" required="true"/>
                                <p:message for="cost"/>

                                <h:outputLabel for="price" value="ราคาขาย" />
                                <p:inputText id="price" value="#{stockMstProductView.productItem.price}" required="true"/>
                                <p:message for="price"/>

                                <h:outputLabel for="active" value="สถานะ" />
                                <h:selectOneRadio id="active" value="#{stockMstProductView.productItem.isActive}" required="true" >
                                    <f:selectItem itemLabel="ใช้งาน" itemValue="true" />
                                    <f:selectItem itemLabel="ไม่ใช้งาน" itemValue="false" />
                                </h:selectOneRadio>
                                <p:message for="active"/>

                                <f:facet name="footer">
                                    <p:commandButton value="บันทึก" actionListener="#{stockMstProductView.createProductItem}" update="productItemForm   :productForm:tab:productItemTable" oncomplete="if (args.saved) PF('productItemDlg').hide();"/>
                                    <p:commandButton process="@this" value="ยกเลิก" update=":productForm:tab:productItemTable" actionListener="#{stockMstProductView.handleDialogClose}" oncomplete="PF('productItemDlg').hide();"/>
                                </f:facet>  
                            </h:panelGrid>
                        </h:form>
                    </p:dialog>

                    <p:dialog header="สินค้า" widgetVar="updateProductItemDlg" resizable="false" modal="true" closable="false">
                        <h:form id="updateProductItemForm">
                            <h:panelGrid columns="3" cellpadding="5">

                                <h:outputLabel for="code" value="รหัสสินค้า" />
                                <p:inputText id="code" value="#{stockMstProductView.productItem.productCode}" required="true" />
                                <p:message for="code"/>

                                <h:outputLabel for="name" value="ชื่อสินค้า" />
                                <p:inputText id="name" value="#{stockMstProductView.productItem.productName}" required="true"/>
                                <p:message for="name"/>

                                <h:outputLabel for="unit" value="หน่วย" />
                                <p:inputText id="unit" value="#{stockMstProductView.productItem.productUnit}" required="true"/>
                                <p:message for="unit"/>

                                <h:outputLabel for="amount" value="จำนวน(คงเหลือ)" />
                                <p:outputLabel id="amount" value="#{stockMstProductView.productItem.amount}" />
                                <p:message for="amount"/>

                                <h:outputLabel for="adjust" value="จำนวน(เข้า)" />
                                <p:inputText id="adjust" value="#{stockMstProductView.amountAdjust}" required="true"/>
                                <p:message for="adjust"/>

                                <p:outputLabel for="productCategory"
                                               value="หมวดสินค้า"/>
                                <p:selectOneMenu id="productCategory" value="#{stockMstProductView.productItem.productCategoryId}">
                                    <f:selectItems var="pc" value="#{stockMstProductView.productCategoryList}"
                                                   itemLabel="#{pc.productCategoryName}"
                                                   itemValue="#{pc.productCategoryId}"/>
                                </p:selectOneMenu>
                                <p:message for="productCategory"/>

                                <h:outputLabel for="cost" value="ราคาทุน" />
                                <p:inputText id="cost" value="#{stockMstProductView.productItem.cost}" required="true"/>
                                <p:message for="cost"/>

                                <h:outputLabel for="price" value="ราคาขาย" />
                                <p:inputText id="price" value="#{stockMstProductView.productItem.price}" required="true"/>
                                <p:message for="price"/>

                                <h:outputLabel for="active" value="สถานะ" />
                                <h:selectOneRadio id="active" value="#{stockMstProductView.productItem.isActive}" required="true" >
                                    <f:selectItem itemLabel="ใช้งาน" itemValue="true" />
                                    <f:selectItem itemLabel="ไม่ใช้งาน" itemValue="false" />
                                </h:selectOneRadio>
                                <p:message for="active"/>

                                <f:facet name="footer">
                                    <p:commandButton value="บันทึก" actionListener="#{stockMstProductView.updateObj}" update="updateProductItemForm   :productForm:tab:productItemTable" oncomplete="if (args.saved) PF('updateProductItemDlg').hide();"/>
                                    <p:commandButton process="@this" value="ยกเลิก" update=":productForm:tab:productItemTable" actionListener="#{stockMstProductView.handleDialogClose}" oncomplete="PF('updateProductItemDlg').hide();"/>
                                </f:facet>  
                            </h:panelGrid>
                        </h:form>
                    </p:dialog>

                    <p:dialog header="หมวดสินค้า" widgetVar="productCategoryDlg" resizable="false" modal="true" closable="false">
                        <h:form id="productCategoryForm">
                            <h:panelGrid columns="3" cellpadding="5">

                                <h:outputLabel for="code" value="รหัสหมวดสินค้า" />
                                <p:inputText id="code" value="#{stockMstProductView.productCategory.productCategoryCode}" required="true" label="รหัสหมวดสินค้า"/>
                                <p:message for="code"/>

                                <h:outputLabel for="name" value="ชื่อหมวดสินค้า" />
                                <p:inputText id="name" value="#{stockMstProductView.productCategory.productCategoryName}" required="true"/>
                                <p:message for="name"/>

                                <h:outputLabel for="active" value="สถานะ" />
                                <h:selectOneRadio id="active" value="#{stockMstProductView.productCategory.isActive}" required="true" label="สถานะ ">
                                    <f:selectItem itemLabel="ใช้งาน" itemValue="true" />
                                    <f:selectItem itemLabel="ไม่ใช้งาน" itemValue="false" />
                                </h:selectOneRadio>
                                <p:message for="active"/>

                                <f:facet name="footer">
                                    <p:commandButton value="บันทึก" actionListener="#{stockMstProductView.createProductCategory}" update="productCategoryForm :productItemForm :updateProductItemForm :productForm:tab:productCategoryTable" oncomplete="if (args.saved) PF('productCategoryDlg').hide();"/>
                                    <p:commandButton process="@this" value="ยกเลิก" update=":productItemForm :updateProductItemForm :productForm:tab:productCategoryTable" actionListener="#{stockMstProductView.handleDialogClose}" oncomplete="PF('productCategoryDlg').hide();"/>
                                </f:facet>  
                            </h:panelGrid>
                        </h:form>
                    </p:dialog>

                    <p:dialog header="หมวดสินค้า" widgetVar="updateProductCategoryDlg" resizable="false" modal="true" closable="false">
                        <h:form id="updateProductCategoryForm">
                            <h:panelGrid columns="3" cellpadding="5">

                                <h:outputLabel for="code" value="รหัสหมวดสินค้า" />
                                <p:outputLabel id="code" value="#{stockMstProductView.productCategory.productCategoryCode}" />
                                <p:message for="code"/>

                                <h:outputLabel for="name" value="ชื่อหมวดสินค้า" />
                                <p:inputText id="name" value="#{stockMstProductView.productCategory.productCategoryName}" required="true"/>
                                <p:message for="name"/>

                                <h:outputLabel for="active" value="สถานะ" />
                                <h:selectOneRadio id="active" value="#{stockMstProductView.productCategory.isActive}" required="true" label="สถานะ ">
                                    <f:selectItem itemLabel="ใช้งาน" itemValue="true" />
                                    <f:selectItem itemLabel="ไม่ใช้งาน" itemValue="false" />
                                </h:selectOneRadio>
                                <p:message for="active"/>

                                <f:facet name="footer">
                                    <p:commandButton value="บันทึก" actionListener="#{stockMstProductView.updateObj}" update="updateProductCategoryForm :productItemForm :updateProductItemForm :productForm:tab:productCategoryTable" oncomplete="if (args.saved) PF('updateProductCategoryDlg').hide();"/>
                                    <p:commandButton process="@this" value="ยกเลิก" update=":productItemForm :updateProductItemForm :productForm:tab:productCategoryTable" actionListener="#{stockMstProductView.handleDialogClose}" oncomplete="PF('updateProductCategoryDlg').hide();"/>
                                </f:facet>  
                            </h:panelGrid>
                        </h:form>
                    </p:dialog>





                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
