<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view>
        <h:head>
        </h:head>
        <h:body>
            <ui:insert name="header">
                <ui:include src="header.xhtml"/>
            </ui:insert>
            <ui:insert name="content">
                <ui:include src="content.xhtml"/>
            </ui:insert>
            <ui:insert name="footer">
                <ui:include src="footer.xhtml"/>
            </ui:insert>
        </h:body>
    </f:view>
</html>
