<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
    </h:head>
    <h:body>
    <h:form>  
    <p:growl id="messages" />
    
    <p:menubar>
        <p:submenu label="ไปรษณีย์" icon="ui-icon-document">
            <p:submenu label="หน้าหลักไปรษณีย์"  icon="ui-icon-contact" >
                <p:menuitem value="Test การจัดส่ง" url="#"  />
                <p:menuitem value="ข้อมูล-รับส่ง" url="#" />
                <p:menuitem value="ข้อมูลสินค้า" url="#" />
            </p:submenu>
            <p:separator />
            <p:menuitem value="ค้นหา" url="#" icon="ui-icon-search"/>
            <p:separator />
            <p:menuitem value="รายงาน" url="#" icon="ui-icon-document"/>
            <p:separator />
            <p:menuitem value="ข้อมูลบริษัท" url="#" />
            <p:separator />
            <p:menuitem value="จดหมายระหว่างประเทศ" url="#" />
            <p:separator />
            <p:menuitem value="ประเภทพื้นที่การส่ง" url="#" />
            <p:separator />
            <p:menuitem value="ประเภทการส่ง" url="#" />
             <p:separator />
            <p:menuitem value="ธนาณัติ" url="#" />      
            <p:separator />
            <p:menuitem value="บริการด่วน" url="#" />
            <p:separator />
            <p:menuitem value="สถานที่จัดส่ง" url="#" />
            <p:separator />
            <p:menuitem value="บริการสินค้า" url="#" />
            <p:separator />
            <p:menuitem value="ค่าธรรมเนียมการบริการ" url="#" />
            <p:separator />
            <p:menuitem value="จดหมายลงทะเบียน" url="#" />
            <p:separator />
            <p:menuitem value="นำข้อมูลเข้า Excel" url="#" />
        </p:submenu>
 
        <p:submenu label="งานเอกสาร" icon="ui-icon-document">
            <p:menuitem value="ข้อมูลหลักถ่ายเอกสาร" url="#"  />
            <p:separator />
             <p:submenu label="หน้าหลักถ่ายเอกสาร" icon="ui-icon-document">
                <p:menuitem value="พิมพ์เอกสาร" url="#" />
                <p:menuitem value="ถ่ายเอกสาร" url="#" />
                <p:menuitem value="สเเกน" url="#" />
                <p:menuitem value="Fax" url="#" />
                <p:menuitem value="เข้าเล่ม" url="#" />
                <p:menuitem value="เคลีอบบัตร" url="#" />
                <p:menuitem value="อื่นๆ" url="#" />
            </p:submenu>
            
        </p:submenu>
 
        <p:submenu label="ฝากชำระเงิน" icon="ui-icon-document">
            <p:menuitem value="หน้าลักฝากชำระเงิน" url="#" />
            <p:separator />
            <p:menuitem value="ประเภทการบริการ" url="#" />
            <p:separator />
            <p:menuitem value="รายการผู้รับ" url="#" />
            <p:separator />
            <p:menuitem value="การตั้งราคา" url="#" />
            <p:separator />
            <p:menuitem value="การค้นหาใบเสร็จ" url="#" />
        </p:submenu>
 
        <p:submenu label="สินค้า" icon="ui-icon-document">
            <p:menuitem value="ขายสินค้า" url="#" icon="ui-icon-contact" />
            <p:separator />
            <p:submenu label="สต๊อกสินค้า" icon="ui-icon-contact">
                <p:menuitem value="จัดสินค้า" url="#" />
                <p:menuitem value="เบิกสินค้า" url="#" />
            </p:submenu>
        </p:submenu>
         <p:submenu label="ลูกค้า" icon="ui-icon-document">
            <p:menuitem value="ข้อมูลลูกค้า" url="#" icon="ui-icon-document" />
        </p:submenu>
        <p:submenu label="ตั้งค่าระบบ" icon="ui-icon-gear">
            <p:menuitem value="สำรองข้อมูลและกู้คืนข้อมูล" url="#" icon="ui-icon-document" />
        </p:submenu>

        <f:facet name="options">
            <p:inputText style="margin-right:10px" placeholder="Search"/>
            <p:commandButton type="button" value="Logout" icon="ui-icon-extlink" />
        </f:facet>
    </p:menubar>
    </h:form>
    </h:body>
</html>

