<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view>
        <h:head>
        </h:head>
        <h:body>
            <ui:composition template="template.xhtml">
                <ui:define name="content">
		    <h:form id="docForm">
			<p:growl id="msgs" sticky="true" showDetail="true"/>
			<p:wizard nextLabel="ถัดไป" backLabel="ย้อนกลับ">

			    <p:tab id="page1" title="งานเอกสาร"  >
				<p:panel header="งานเอกสาร">
				    <p:messages />
				    <h:panelGrid columns="1" >
                                                                             <h:panelGrid columns="7" >
					 <p:commandButton value="งานพิมพ์เอกสาร"  actionListener="#{transMstDocView.doAddForm1}"   update="docForm1"  oncomplete="PF('dlg').show();" />
                                                                                 <p:commandButton value="ถ่ายเอกสาร"  actionListener="#{transMstDocView.doAddForm2}"   update="docForm2"  oncomplete="PF('dlg').show();" />
                                                                                 <p:commandButton value="แสกน"  actionListener="#{transMstDocView.doAddForm3}"   update="docForm3"  oncomplete="PF('dlg').show();" />
                                                                                 <p:commandButton value="Fax"  actionListener="#{transMstDocView.doAddForm4}"   update="docForm4"  oncomplete="PF('dlg').show();" />
                                                                                 <p:commandButton value="เข้าเล่ม"  actionListener="#{transMstDocView.doAddForm5}"   update="docForm5"  oncomplete="PF('dlg').show();" />
                                                                                 <p:commandButton value="เคลือบบัตร"  actionListener="#{transMstDocView.doAddForm6}"   update="docForm6"  oncomplete="PF('dlg').show();" />
                                                                                 <p:commandButton value="อื่นๆ"  actionListener="#{transMstDocView.doAddForm7}"   update="docForm7"  oncomplete="PF('dlg').show();" />
                                                                                 </h:panelGrid>
                                                                                 <p:dataTable id="docTable" var="docTransItems" value="#{transMstDocView.listDocMstTrans}" rows="10"  
						     paginator="true"
						     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						     rowsPerPageTemplate="5,10,15">
					    <p:column headerText="ลำดับ">
                                                                                    <h:outputText value="#{docTransItems.docId}" />
					    </p:column>
					    <p:column headerText="รายการ">
                                                                                        <h:outputText value="#{docTransItems.docDesc}" />
					    </p:column>
					    <p:column headerText="จำนวน">
                                                                                        <h:outputText value="#{docTransItems.docItems}" />
					    </p:column>
					    <p:column headerText="ราคา">
                                                                                         <h:outputText value="#{docTransItems.price}" />
					    </p:column>
			                                 <p:column headerText="Action">
                                                        
                                                             <p:commandButton icon="ui-icon-trash" value="Delete" title="Delete" actionListener="#{transMstDocView.doDeleteAction(docTransItems.docId)}" update="docForm"    />
					    </p:column>
					</p:dataTable>

				    </h:panelGrid>
				</p:panel>
			    </p:tab>
                                                             
			    <p:tab id="summaryForm" title="รายการชำระเงิน">
				<p:panel header="รายการชำระเงิน">
                                                                      <p:messages />
				       <h:panelGrid columns="2" cellpadding="5">
					<h:outputLabel for="totalPrice" value="จำนวนเงินรวม" />
                                                                                <p:inputText value="#{transMstDocView.docMstTransObj.totalPrice}" readonly="true" required="true"  label="จำนวนเงินรวมจำนวนเงินรวม"/>

					<f:facet name="footer">
                                                                                    <p:commandButton value="บันทึก" type="submit" 
                                                                                                     actionListener="#{transMstDocView.doSummarySaveAction}"
                                                                                                     update=":docForm "
                                                                                                     oncomplete="PF('wizard').loadStep('docForm', false);"/>
                                                                                    
                                                                                    <p:commandButton value="ยกเลิก" type="submit"
                                                                                                     actionListener="#{transMstDocView.doCancelAction}"
                                                                                                     update=":docForm "
                                                                                                     oncomplete="PF('wizard').loadStep('docForm', false);"/>
					</f:facet> 
				    </h:panelGrid>
				</p:panel>
			    </p:tab>
			</p:wizard>


		    </h:form>
                                   
                                    <!-- #####################Print Paper############################3 -->
		    <h:form id="docForm1">
			<p:dialog header="พิมพ์เอกสาร" widgetVar="dlg" resizable="false" modal="true" closable="true"  width="500" height="250">
			    <h:panelGrid columns="2" cellpadding="5" onkeypress="if (event.keyCode == 13) {
					return false;
				    }" >
                                
                                                              <h:outputLabel for="docCode" value="กระดาษ :" />
                                                              <p:selectOneMenu id="docCode" label="กระดาษ" value="#{transMstDocView.docMstTransObj.docCode}" style="width:200px"   required="true">
                                                                    <f:selectItem itemLabel="--- กรุณาเลือกรายการ ----" itemValue=""  noSelectionOption="true"  />
                                                                    <f:selectItems value="#{transMstDocView.listMapItemsDDL}" />
                                                                </p:selectOneMenu>

				<h:outputLabel for="docItems" value="จำนวนเเผ่น :" />
                                                                     <p:inputText value="#{transMstDocView.docMstTransObj.docItems}"    required="true" label="จำนวนแผ่น"/>

                                                                  <h:outputLabel for="isColor" value="ประเภทสี :" />
                                                                  <h:selectOneRadio id="isDocType" value="#{transMstDocView.isColor}" required="true" label="ประเภท">
                                                                           <f:selectItem itemLabel="สี" itemValue="1" />
                                                                           <f:selectItem itemLabel="ขาวดำ" itemValue="0" />
                                                                     </h:selectOneRadio>
           
                                                                <h:outputLabel for="sizeDocType" value="ขนาดกระดาษ :" />
                                                                <p:selectOneMenu id="colorCode" label="ขนาดกระดาษ" value="#{transMstDocView.docMstTransObj.sizeDocType}" style="width:200px"   required="true">
                                                                    <f:selectItem itemLabel="--- ประเภทกระดาษ ----" itemValue=""  noSelectionOption="true"  />
                                                                    <f:selectItems value="#{transMstDocView.listMapDetialDDL}" />
                                                                </p:selectOneMenu>   
                                                                  
                                                                  
				<f:facet name="footer">
                                                                <p:commandButton value="เพิ่ม" type="submit"  actionListener="#{transMstDocView.doSaveAction}" update="docForm" oncomplete="PF('dlg').hide();" />
				    <p:commandButton process="@this" value="ยกเลิก" actionListener="#{transMstDocView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
				</f:facet>   
                                                                <h:inputHidden value="#{transMstDocView.docType}" id="docTypeP" />
			    </h:panelGrid>
			</p:dialog>

		    </h:form>
                                    <!-- ####################Print Paper#############################3 -->
                                  <!-- ##################### COPY ############################3 -->
		    <h:form id="docForm2">
			<p:dialog header="ถ่ายเอกสาร" widgetVar="dlg" resizable="false" modal="true" closable="true"  width="500" height="250">
			    <h:panelGrid columns="2" cellpadding="5" onkeypress="if (event.keyCode == 13) {
					return false;
				    }" >
                                
                                                              <h:outputLabel for="docCodeCoppy" value="กระดาษ :" />
                                                              <p:selectOneMenu id="docCodeCoppy" label="กระดาษ" value="#{transMstDocView.docMstTransObj.docCode}" style="width:200px"   required="true">
                                                                    <f:selectItem itemLabel="--- กรุณาเลือกรายการ ----" itemValue=""  noSelectionOption="true"  />
                                                                    <f:selectItems value="#{transMstDocView.listMapCopyDDL}" />
                                                                </p:selectOneMenu>

				<h:outputLabel for="docItems" value="จำนวนเเผ่น :" />
                                                                     <p:inputText value="#{transMstDocView.docMstTransObj.docItems}"   label="จำนวนแผ่น"   required="true" />

				<f:facet name="footer">
                                                                <p:commandButton value="เพิ่ม" type="submit"  actionListener="#{transMstDocView.doSaveAction}" update="docForm" oncomplete="PF('dlg').hide();" />
				    <p:commandButton process="@this" value="ยกเลิก" actionListener="#{transMstDocView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
				</f:facet>   
                                                                     
                                                                     <h:inputHidden value="#{transMstDocView.docType}" id="docTypeC" />
			    </h:panelGrid>
			</p:dialog>

		    </h:form>                   
                                <!-- #######################COPY##########################3 --> 
                                
                                 <!-- ######################SCAN###########################3 -->
		    <h:form id="docForm3">
			<p:dialog header="แสกน" widgetVar="dlg" resizable="false" modal="true" closable="true"  width="500" height="250">
			    <h:panelGrid columns="2" cellpadding="5" onkeypress="if (event.keyCode == 13) {
					return false;
				    }" >
                                
                                                              <h:outputLabel for="docCodeScan" value="กระดาษ :" />
                                                              <p:selectOneMenu id="docCode3" label="กระดาษ" value="#{transMstDocView.docMstTransObj.docCode}" style="width:200px"   required="true">
                                                                    <f:selectItem itemLabel="--- กรุณาเลือกรายการ ----" itemValue=""  noSelectionOption="true"  />
                                                                    <f:selectItems value="#{transMstDocView.listMapScanDDL}" />
                                                                </p:selectOneMenu>

				<h:outputLabel for="docItems" value="จำนวนเเผ่น :" />
                                                                 <p:inputText value="#{transMstDocView.docMstTransObj.docItems}"    required="true" label="จำนวนแผ่น"/>

				<f:facet name="footer">
                                                                <p:commandButton value="เพิ่ม" type="submit"  actionListener="#{transMstDocView.doSaveAction}" update="docForm" oncomplete="PF('dlg').hide();" />
				    <p:commandButton process="@this" value="ยกเลิก" actionListener="#{transMstDocView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
				</f:facet>   
                                                                   <h:inputHidden value="#{transMstDocView.docType}"  id="docTypeS" />
			    </h:panelGrid>
			</p:dialog>

		    </h:form>                   
                                <!-- ####################SCAN#############################3 --> 
                                
                                
                                 <!-- #####################Fax############################3 -->
		    <h:form id="docForm4">
			<p:dialog header="Fax" widgetVar="dlg" resizable="false" modal="true" closable="true"  width="500" height="250">
			    <h:panelGrid columns="2" cellpadding="5" onkeypress="if (event.keyCode == 13) {
					return false;
				    }" >
                                
                                                              <h:outputLabel for="docCodeFax" value="กระดาษ :" />
                                                              <p:selectOneMenu id="docCode4" label="กระดาษ" value="#{transMstDocView.docMstTransObj.docCode}" style="width:200px"   required="true">
                                                                    <f:selectItem itemLabel="--- กรุณาเลือกรายการ ----" itemValue=""  noSelectionOption="true"  />
                                                                    <f:selectItems value="#{transMstDocView.listMapFaxDDL}" />
                                                                </p:selectOneMenu>

				<h:outputLabel for="docItems" value="จำนวนเเผ่น :" />
                                                                     <p:inputText value="#{transMstDocView.docMstTransObj.docItems}"    required="true" label="จำนวนแผ่น"/>

				<f:facet name="footer">
                                                                <p:commandButton value="เพิ่ม" type="submit"  actionListener="#{transMstDocView.doSaveAction}" update="docForm" oncomplete="PF('dlg').hide();" />
				    <p:commandButton process="@this" value="ยกเลิก" actionListener="#{transMstDocView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
				</f:facet>   
                                                                <h:inputHidden value="#{transMstDocView.docType}"  id="docTypeF" />
			    </h:panelGrid>
			</p:dialog>

		    </h:form>                   
                                <!-- ####################Fax############################# --> 
                                
                             <!-- ####################LAM#############################3 -->
		    <h:form id="docForm5">
			<p:dialog header="เข้าเล่ม" widgetVar="dlg" resizable="false" modal="true" closable="true"  width="500" height="250">
			    <h:panelGrid columns="2" cellpadding="5" onkeypress="if (event.keyCode == 13) {
					return false;
				    }" >
                                
                                                              <h:outputLabel for="docCode" value="กระดาษ :" />
                                                              <p:selectOneMenu id="docCodeBook" label="กระดาษ" value="#{transMstDocView.docMstTransObj.docCode}" style="width:200px"   required="true">
                                                                    <f:selectItem itemLabel="--- กรุณาเลือกรายการ ----" itemValue=""  noSelectionOption="true"  />
                                                                    <f:selectItems value="#{transMstDocView.listMapBookDDL}" />
                                                                </p:selectOneMenu>

				<h:outputLabel for="docItems" value="จำนวนเเผ่น :" />
                                                                     <p:inputText value="#{transMstDocView.docMstTransObj.docItems}"    required="true" label="จำนวนแผ่น"/>

				<f:facet name="footer">
                                                                <p:commandButton value="เพิ่ม" type="submit"  actionListener="#{transMstDocView.doSaveAction}" update="docForm" oncomplete="PF('dlg').hide();" />
				    <p:commandButton process="@this" value="ยกเลิก" actionListener="#{transMstDocView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
				</f:facet>  
                                                                     
                                                                <h:inputHidden value="#{transMstDocView.docType}"  id="docTypeB" />
			    </h:panelGrid>
			</p:dialog>

		    </h:form>                   
                                <!-- ##################BOOK############################### --> 
                                
                                <!-- ##################LAM###############################3 -->
		    <h:form id="docForm6">
			<p:dialog header="เคลือบบัตร" widgetVar="dlg" resizable="false" modal="true" closable="true"  width="500" height="250">
			    <h:panelGrid columns="2" cellpadding="5" onkeypress="if (event.keyCode == 13) {
					return false;
				    }" >
                                
                                                              <h:outputLabel for="docCode" value="กระดาษ :" />
                                                              <p:selectOneMenu id="docCodeLam" label="กระดาษ" value="#{transMstDocView.docMstTransObj.docCode}" style="width:200px"   required="true">
                                                                    <f:selectItem itemLabel="--- กรุณาเลือกรายการ ----" itemValue=""  noSelectionOption="true"  />
                                                                    <f:selectItems value="#{transMstDocView.listMapLamDDL}" />
                                                                </p:selectOneMenu>

				<h:outputLabel for="docItems" value="จำนวนเเผ่น :" />
                                                                     <p:inputText value="#{transMstDocView.docMstTransObj.docItems}"    required="true" label="จำนวนแผ่น"/>

				<f:facet name="footer">
                                                                <p:commandButton value="เพิ่ม" type="submit"  actionListener="#{transMstDocView.doSaveAction}" update="docForm" oncomplete="PF('dlg').hide();" />
				    <p:commandButton process="@this" value="ยกเลิก" actionListener="#{transMstDocView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
				</f:facet>   
                                                                     
                                                                  <h:inputHidden value="#{transMstDocView.docType}"  id="docTypeL" />
			    </h:panelGrid>
			</p:dialog>

		    </h:form>                   
                                <!-- #################LAM################################ -->
                                
                                  <!-- ################OTHER#################################3 -->
		    <h:form id="docForm7">
			<p:dialog header="อื่นๆ" widgetVar="dlg" resizable="false" modal="true" closable="true"  width="500" height="250">
			    <h:panelGrid columns="2" cellpadding="5" onkeypress="if (event.keyCode == 13) {
					return false;
				    }" >

				<h:outputLabel for="price" value="ค่าบริการ :" />
                                                               <p:inputText value="#{transMstDocView.docMstTransObj.price}"    required="true" label="ราคา"/>

				<f:facet name="footer">
                                                                <p:commandButton value="เพิ่ม" type="submit"  actionListener="#{transMstDocView.doSaveAction}" update="docForm" oncomplete="PF('dlg').hide();" />
				    <p:commandButton process="@this" value="ยกเลิก" actionListener="#{transMstDocView.handleDialogClose}" oncomplete="PF('dlg').hide();" />
				</f:facet>   
                                                               
                                                                 <h:inputHidden value="#{transMstDocView.docType}"  id="docTypeO" />
			    </h:panelGrid>
			</p:dialog>

		    </h:form>                   
                                <!-- ###################OTHER############################## --> 

                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
