<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view>
        <h:head>
        </h:head>
        <h:body>
            <ui:composition template="template.xhtml">
                <ui:define name="content">
                    <h:form id="mainForm">
                        <p:growl id="growl" life="2000"/>
                        <p:toolbar>
                            <f:facet name="left">
                                <p:commandButton type="button"
                                                 value="สร้างผู้ใช้ใหม่"
                                                 icon="ui-icon-document"
                                                 onclick="PF('createDialog').show();"/>
                            </f:facet>
                        </p:toolbar>
                        <p:panel header="ผู้ใช้">
                            <p:messages/>
                            <p:dataTable id="dataTable"
                                         var="u" value="#{userView.users}"
                                         paginator="true"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rows="15"
                                         rowsPerPageTemplate="15, 50, 100">
                                <p:column headerText="รหัสผู้ใช้">
                                    <h:outputText value="#{u.username}"/>
                                </p:column>
                                <p:column headerText="ชื่อ">
                                    <h:outputText value="#{u.firstName}"/>
                                </p:column>
                                <p:column headerText="นามสกุล">
                                    <h:outputText value="#{u.lastName}"/>
                                </p:column>
                                <p:column>
                                    <p:commandButton update=":updateForm"
                                                     oncomplete="PF('updateDialog').show();"
                                                     icon="ui-icon-pencil">
                                        <f:setPropertyActionListener value="#{u}" target="#{userView.selectedUser}"/>
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </p:panel>

                    </h:form>
                    <p:dialog widgetVar="createDialog"
                              header="ผู้ใช้"
                              modal="true">
                        <h:form id="createForm">
                            <h:panelGrid columns="3">
                                <p:outputLabel for="username"
                                               value="รหัสผู้ใช้"/>
                                <p:inputText id="username" value="#{userView.user.username}"
                                             required="true"/>
                                <p:message for="username"/>

                                <p:outputLabel for="firstName"
                                               value="ชื่อ"/>
                                <p:inputText id="firstName" value="#{userView.user.firstName}"
                                             required="true"/>
                                <p:message for="firstName"/>

                                <p:outputLabel for="lastName"
                                               value="นามสกุล"/>
                                <p:inputText id="lastName" value="#{userView.user.lastName}"
                                             required="true"/>
                                <p:message for="lastName"/>

                                <p:outputLabel for="password"
                                               value="รหัสผ่าน"/>
                                <p:password id="password" value="#{userView.user.password}"
                                            required="true"/>
                                <p:message for="password"/>
                                
                                <p:outputLabel for="role"
                                               value="บทบาท"/>
                                <p:selectOneMenu id="role" value="#{userView.user.role}">
                                    <f:selectItem itemLabel="User" itemValue="ROLE_USER"/>
                                    <f:selectItem itemLabel="Supervisor" itemValue="ROLE_SUPERVISOR"/>
                                    <f:selectItem itemLabel="Manager" itemValue="ROLE_MANAGER"/>
                                    <f:selectItem itemLabel="Local Administrator" itemValue="ROLE_LOCAL_ADMINISTRATOR"/>
                                    <f:selectItem itemLabel="Central Administrator" itemValue="ROLE_CENTRAL_ADMINISTRATOR"/>
                                </p:selectOneMenu>
                                <p:message for="role"/>
                                
                                <p:outputLabel for="branch"
                                               value="สนง.ไปรษณีย์"/>
                                <p:selectOneMenu id="branch" value="#{userView.user.branch}">
                                    <f:selectItems var="b" value="#{userView.branches}"
                                                   itemLabel="#{b.branchName}"
                                                   itemValue="#{b.branchId}"/>
                                </p:selectOneMenu>
                                <p:message for="branch"/>
                                
                                <f:facet name="footer">
                                    <p:commandButton value="บันทึก"
                                                     icon="ui-icon-disk"
                                                     actionListener="#{userView.createUser}"
                                                     update=":mainForm :createForm"
                                                     oncomplete="if (args.saved) PF('createDialog').hide();"/>
                                </f:facet>
                            </h:panelGrid>
                        </h:form>
                    </p:dialog>
                    <p:dialog widgetVar="updateDialog"
                              header="ผู้ใช้"
                              modal="true">
                        <h:form id="updateForm">
                            <h:panelGrid columns="3">
                                <p:outputLabel for="username"
                                               value="รหัสผู้ใช้"/>
                                <p:outputLabel id="username" value="#{userView.selectedUser.username}"/>
                                <p:message for="username"/>

                                <p:outputLabel for="firstName"
                                               value="ชื่อ"/>
                                <p:inputText id="firstName" value="#{userView.selectedUser.firstName}"
                                             required="true"/>
                                <p:message for="firstName"/>

                                <p:outputLabel for="lastName"
                                               value="นามสกุล"/>
                                <p:inputText id="lastName" value="#{userView.selectedUser.lastName}"
                                             required="true"/>
                                <p:message for="lastName"/>

                                <p:outputLabel for="password"
                                               value="รหัสผ่าน"/>
                                <p:password id="password" value="#{userView.selectedUser.password}"/>
                                <p:message for="password"/>
                                
                                <p:outputLabel for="role"
                                               value="บทบาท"/>
                                <p:selectOneMenu id="role" value="#{userView.selectedUser.role}">
                                    <f:selectItem itemLabel="User" itemValue="ROLE_USER"/>
                                    <f:selectItem itemLabel="Supervisor" itemValue="ROLE_SUPERVISOR"/>
                                    <f:selectItem itemLabel="Manager" itemValue="ROLE_MANAGER"/>
                                    <f:selectItem itemLabel="Local Administrator" itemValue="ROLE_LOCAL_ADMINISTRATOR"/>
                                    <f:selectItem itemLabel="Central Administrator" itemValue="ROLE_CENTRAL_ADMINISTRATOR"/>
                                </p:selectOneMenu>
                                <p:message for="role"/>
                                
                                <p:outputLabel for="branch"
                                               value="สนง.ไปรษณีย์"/>
                                <p:selectOneMenu id="branch" value="#{userView.selectedUser.branch}">
                                    <f:selectItems var="b" value="#{userView.branches}"
                                                   itemLabel="#{b.branchName}"
                                                   itemValue="#{b.branchId}"/>
                                </p:selectOneMenu>
                                <p:message for="branch"/>
                                
                                <f:facet name="footer">
                                    <p:commandButton value="บันทึก"
                                                     icon="ui-icon-disk"
                                                     actionListener="#{userView.updateUser}"
                                                     update=":mainForm :updateForm"
                                                     oncomplete="if (args.saved) PF('updateDialog').hide();"/>
                                    <p:commandButton value="ลบ"
                                                     icon="ui-icon-trash"
                                                     actionListener="#{userView.deleteUser}"
                                                     update=":mainForm :updateForm"
                                                     oncomplete="if (args.saved) PF('updateDialog').hide();"/>
                                </f:facet>
                            </h:panelGrid>
                        </h:form>
                    </p:dialog>
                </ui:define>
                <ui:define name="footer">
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
